# Lists

## Objectives
By the end of this notebook, you should know:

* How to declare a list
* How to access one or more elements
* How to use slice notation
* That lists are mutable
* That multiple variables can refer to the same list object
* Variables really are references to objects
* The difference between dynamically and statically typed languages
* How to find list methods
* What happens when a list is mutated in place
* That some methods return **`None`**
* How to check if an object is **`None`**
* How to create lists from the **`range`** function
* How to append, extend, and concatenate lists
* How to delete elements from a list
* How to check if an element is contained within a list


One of Python's most powerful built-in types is the **`list`**. In generic programming terminology, lists are considered [data structures][1], or more simply put, a collection of data. Lists are very versatile, capable of many tasks, are very popular, and something you will use frequently when writing Python. Even crude data exploration and matrix algebra can be done using lists. 

Lists are mutable sequences of objects. Anything can go inside lists, even other lists. Lists are declared by the brackets **`[ ]`** operator followed by comma separated values.

Let's declare a list with some integer, string, and float objects.

[1]: https://en.wikipedia.org/wiki/Data_structure

In [14]:
# a list object with integers, strings and floats. Each element is separated by a comma
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]

my_list

[1, 2, 3, 4, 'one', 'two', 4.9]

## Lists may contain heterogeneous data
Each **element** of the list is an object and all elements in the list need not be of the same type. Absolutely any object can be placed inside of a list.

## Accessing list elements
Each element of a list is accessed with the index operator, **`[ ]`**, in the same manner as strings. Lists are indexed beginning at 0.

Let's access the element at index 2 from the **`my_list`** variable.

In [15]:
my_list[2]

3

## Mutating Lists
Lists are objects that are mutable, meaning that their value may be changed after creation. Each element in the list can be changed and new elements can be added and other elements can be deleted. This is in contrast to strings where no character can be modified, added, or deleted.

Let's change the element at index 3 to **`changed`**.

In [16]:
# Change the 4th element of the list to 'changed'
print(my_list)
my_list[3] = 'changed'
my_list

[1, 2, 3, 4, 'one', 'two', 4.9]

[1, 2, 3, 'changed', 'one', 'two', 4.9]

## Unexpected behavior with mutable objects

When assigning one mutable object to multiple different variables, a huge surprise awaits the novice programmer. Let's uncover this surprise by declaring a list and assigning it to variable **`list_1`** and then assigning that variable to **`list_2`**. We will then change the first element from **`list_1`** and print out both lists.

In [17]:
# create a list
list_1 = [1, 5, 10]

# assign list_1 to list_2
list_2 = list_1

# mutate one of the lists
list_1[0] = 1000

# print out the lists
print(list_1)
print(list_2) # Unexpected behavior. list_2 was also mutated!

[1000, 5, 10]
[1000, 5, 10]

### More detail on the same mutable objects assigned to a different variable
In the above code, when **`list_1`** is assigned to **`list_2`**, Python does not create a new object and does not crate a new block of memory to hold **`list_2`**. It simply makes a reference from **`list_2`** to the same list that was created when **`list_1`** was assigned. There was only a single list created above. Both **`list_1`** and **`list_2`** refer to the same object. Any modification to **`list_1`** or **`list_2`** change the underlying reference object.

### Confirm that the objects are the same with `id` function
The **`id`** function will show the unique id as an integer so that you can see if two variables are referring to the same object or not. If two variables have the same **`id`** then they refer to the same object.

In [18]:
# confirm that the identity of the list_1 and list_2 variables are the same
id(list_1), id(list_2)

(140500329008904, 140500329008904)

### Problem 1
<span style="color:green">Mutate `list_2` and print out both lists. Does mutating list_2 still change list_1? </span>

In [19]:
# your code here
print(list_1)
print(list_2)

list_2[1] = 0

print(list_1)
print(list_2)

[1000, 5, 10]
[1000, 5, 10]
[1000, 0, 10]
[1000, 0, 10]

### Problem 2
<span style="color:green">In the following code, both `list_1` and `list_2` are defined to have the same elements. Mutate `list_1`. Does `list_2` also get mutated?</span>

In [20]:
list_1 = [1, 3, 5]
list_2 = [1, 3, 5]

# your code here

list_1[0] = 0

print(list_1)
print(list_2)

[0, 3, 5]
[1, 3, 5]

### Creating a unique list copy
If you are intending to create a unique new list that has the same elements of another list, you will need to use the copy method. The copy method creates a new object in memory with it's own unique address identity.

In [21]:
# create a copy of a list and confirm new identity
list_1 = [1, 5, 10]
list_2 = list_1

list_3 = list_1.copy()
id(list_1), id(list_2), id(list_3)

(140500329872072, 140500329872072, 140500329034184)

In [22]:
# mutate list_3 and list_1 to further confirm unique identities
list_3[2] = 'foo'
list_1[2] = 'bar'
print(list_1)
print(list_2)
print(list_3)

[1, 5, 'bar']
[1, 5, 'bar']
[1, 5, 'foo']

### Technical note: Shallow vs Deep Copying
The copy method above does a shallow copy, meaning that any mutable object *within* the list will not be copied and still refer to the same object as before. For example, when a list contains another list, the inner list will not be copied. [See here for more info](https://docs.python.org/3/library/copy.html).

# Variables are references to objects
As a precautionary warning, the following concept may not be easily understood, and if you don't fully understand then don't fret as it won't impact your ability to write Python.

### What is a variable?
A variable in Python isn't quite what you might expect it to be. Variables in Python are references to objects. Take the following variable assignment:

```
>>> x = 5
```

The variable **`x`** has been assigned the value of 5. Another way of saying this is that the variable **`x`** refers to the integer object 5. Formally, the official Python documentation uses the term **name** or **identifier** to make this distinction clearer as in - The **name** **`x`** refers to the integer object 5.

So, the variable name itself is not technically the object, it is simply a label that references the object.

### Variables can be assigned any type of object
Because of this convention, variables can be assigned any object of any type. For instance, the following is valid Python code. **`x`** changes from an integer to a string to a list.

```
>>> x = 5
>>> x = 'five'
>>> x = [1, 3, 5]
```

### The `id` changes each time the variable is assigned a new object
Each time a variable is assigned a new object, the identity will change to that specific object's location. Let's take a look by printing out the `id` after each change.

In [23]:
x = 5
print(id(x))

x = 'five'
print(id(x))

x = [1, 3, 5]
print(id(x))

93880792798112
140500329030296
140500329008200

### Python is Dynamically typed
In the above example, the variable **`x`** referred to three different types of objects. Languages that allow variables to refer to more than one type are called **dynamically typed**. **Statically typed** languages on the other hand do not allow for variables to change types after declaration. C, Java, and Fortran are examples of statically typed languages. These languages require that you declare the variable type when first created. 


### Variables as sticky notes
In his excellent book [Fluent Python][1], Luciano Romalho suggests to think of variables in Python as **sticky notes**. Whenever a variable is assigned, you can think of the object as a permanent location in memory with a sticky note of the variable name placed on it. If the variable gets re-assigned, the sticky note gets moved to the new object address.

### Final thoughts on the mutated list example
Above, when we assigned **`list_1`** to **`list_2`**, Python created a new reference to the list object. Both the names **`list_1`** and **`list_2`** were referencing the same list.

[1]: https://www.amazon.com/Fluent-Python-Concise-Effective-Programming/dp/1491946008

-------------

# Finding List Methods
As we did with strings in the previous notebook, its important to be aware of all the possible attributes and methods available to our object. To get a comprehensive list of all the methods we can use the [official documentation][1], **`help`** or **`dir`** functions, or tab completion. I prefer tab completion as I like getting help while I am writing code.

The **`dir`** method is used below on a list to output of all the methods, both private (those beginning and ending with double underscores) and public.

[1]: https://docs.python.org/3/tutorial/datastructures.html#more-on-lists

In [24]:
# like we did with strings lets see all the methods that are available to lists
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]
print(dir(my_list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## Experimenting with list methods
A series of examples will follow that show some list methods. Remember that methods use the dot notation and always end in parentheses. Let's begin by appending an item to our list.

In [25]:
my_list.append(22)

### Why was there was no output?
When a method returns no output in Python, it does *not* mean that nothing happened. Something almost always *happens*, but you might not see it immediately. In this case, the list was **mutated in place**. 22 was appended to the list with the object **`None`** being returned. Output the list to verify that the append took place.

In [26]:
# See that 22 was appended
my_list

[1, 2, 3, 4, 'one', 'two', 4.9, 22]

### What does it mean to have `None` returned?
In Python, the **`None`** keyword is an object that represents nothing. All functions and methods are required to return an object. For instance, the **`append`** list method appends an item to the end of the list and returns nothing.

Let's verify that indeed **`None`** is returned by saving the returned value to a variable.

In [27]:
# append an item to a list and show that None is returned after completion of the operation
my_new_list = [1, 2, 3]
returned_value = my_new_list.append(5)  # This command appends 5 to my_new_list and returns None
print(my_new_list)

returned_value is None

[1, 2, 3, 5]

True

### Checking for `None`
To verify that a variable references the **`None`** object we need to use the **`is`** operator like so:

```
>>> variable is None
```

This will always return either True or False

### Operations that happen 'in-place'
When the list above was appended to, it was referred to as happening **in-place**. When a method acts on an object **in-place**, **`None`** is usually returned. Most methods return some value but when methods return **`None`**, that is usually an indicator that the object was mutated in place. 

Take a look at the example below where the string method **`count`** will return the number of a particular letter in the string. Alternatively, see the append list method that returns **`None`**.

In [28]:
# example of a method that returns an integer vs one that returns None but with an in-place operation
test_string = 'i am a test string'
test_list = [1, 2, 3]
print(test_string.count('a'))
print(test_list.append(4))

2
None

In [29]:
# did test_list still get the number 4 appended to it?
# Yes! The operation completed in-place and returned None
test_list

[1, 2, 3, 4]

### More list methods

In [30]:
# clear empties the list
my_list.clear()
my_list

[]

In [31]:
# find first occurence of an item in list
my_list = [1, 2, 3, 4, 'one', 'fifth', 'two', 4.9]
my_list.index('one')

4

In [32]:
#insert item after fifth index. operation happens in-place
my_list.insert(5, 'fifth')
my_list

[1, 2, 3, 4, 'one', 'fifth', 'fifth', 'two', 4.9]

In [33]:
# reverse a list in place
my_list.reverse()
my_list

[4.9, 'two', 'fifth', 'fifth', 'one', 4, 3, 2, 1]

### Getting the length of a list
The length of a list is retrieved in the exact same manner as the length of a string, with the **`len`** function. The **`len`** function will work with types of objects that contain many elements of data.

In [34]:
# return the number of elements in a list with the len function
len(my_list)

9

### Sorting a list
Lists can be sorted in-place using the sort method as long the element have types that are orderable.

Since `my_list` has both numeric and string types that do not have a natural ordering with respect to one another an error will be raised.

In [35]:
#sort the list
my_list.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

### Lists must have objects that know how to be ordered
Strings and numbers don't have a natural ordering so an error is produced above. A list consisting of integers and floats is orderable. See the following example:

In [36]:
# sortable list
sortable_list = [8, 12, 90.8, -87, 0]
sortable_list.sort() # operation happens in place so

In [37]:
# The sort method happens in place and None is returned so there is no output
# We must use a separate line to output the updated list
sortable_list

[-87, 0, 8, 12, 90.8]

### Problem 3
<span style="color:green">Does the `id` of a list change after it is ordered? Use an example to determine the outcome.</span>

In [41]:
# your code here

new_list = [1,3,5,4,2]
print(id(new_list))
new_list.sort()
print(id(new_list))

140500389910984
140500389910984

# Selecting items from lists
Selecting individual items from a list happens in the same exact manner as it does with strings. The index of the desired element is placed within the square brackets. Notice that after selection individual elements are no longer inside of a list but just the object themselves.

In [42]:
# Select the first item
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]
my_list[0]

1

In [43]:
# Select the last item
my_list[-1]

4.9

# Selecting a subset of the list with slice notation
Slice notation also works the same with lists as it does with strings. When slicing, even if it is a one element slice, will always return a new list.

In [44]:
# from the start up to but not including index 3
my_list[:3]

[1, 2, 3]

In [45]:
# from index 3 to the end
my_list[3:]

[4, 'one', 'two', 4.9]

### Start : Stop : Step
List slicing uses the exact same slicing form as strings. If the start index is not included, it is defaulted to the first element. If the stop index is not included, it is defaulted to stop at the last element. If the step size is not included it is defaulted to 1. 

If the stop index is included, the list is sliced up to but does not include the stop index element.

See the many slicing examples below:

In [46]:
# lets first output my_list
my_list

[1, 2, 3, 4, 'one', 'two', 4.9]

In [47]:
# slice from index 1 to index 5 with step size of 2
my_list[1:5:2]

[2, 4]

In [48]:
# Slice from index 2 up to but not including the second to last element
my_list[2:-2]

[3, 4, 'one']

In [49]:
# slice with defaul start, stop and step. Looks strange but is legal
my_list[::]

[1, 2, 3, 4, 'one', 'two', 4.9]

In [50]:
# Same thing as above
my_list[:]

[1, 2, 3, 4, 'one', 'two', 4.9]

### Negative Step Size
Occasionally, you might want to slice from a higher index down to a lower index. To do this, use a negative step size and put the higher index first.

In [51]:
# This example does not work correctly and returns an empty list. Must have higher index first
# An empty list is returned
my_list[1:4:-1]

[]

In [52]:
# correctly slice from high to low with negative step size
my_list[4:1:-1]

['one', 4, 3]

In [53]:
# reverse a list. This is non-intuitive but a very pythonic way of reversing a list
my_list[::-1]

[4.9, 'two', 'one', 4, 3, 2, 1]

### Negative Start and Stop indexes
All three list slice numbers can be negative. Negative numbers for start and stop are equal to the index beginning from the end of the list. So `my_list[-4]` represents the 4th element from the end.

Although negative numbers work, it's best to use positive numbers when possible as they are more readable and less error prone.

In [54]:
# Slice from the 4th element from the end up to but not including the last element
my_list[-4:-1]

[4, 'one', 'two']

# The Range Function
**`range`** is a function that can be used to create a sequence of numbers using the same start, stop, step style of list and string slicing we have already seen. Range is different in that it doesn't actually create the sequence of numbers in your computer's memory when its first called. It 'lazily' evaluates, meaning it only generates the next number in the sequence when demanded. Get [more information on the range function](http://stackoverflow.com/questions/13092267/if-range-is-a-generator-in-python-3-3-why-can-i-not-call-next-on-a-range).

This is very similar to what a generator does. Generators are a more advanced topic [that can be read about here](http://stackoverflow.com/questions/1756096/understanding-generators-in-python). 

Ranges can be converted to lists with the **`list`** function, otherwise they remain as **`range`** objects.

In [55]:
# Some examples of creating lists with the range function
# use start, stop, step as the arguments and wrap list around range
list(range(5, 10)) # step size defaults to 1

[5, 6, 7, 8, 9]

In [56]:
# Start from 0 up to but not including the given argument
list(range(10)) # start is defaulted to 0 if not given

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
# start from 300 go to 1000 by 50
list(range(300, 1000, 50))

[300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950]

In [58]:
# start from 800 go to 512 by -88
list(range(800, 512, -88))

[800, 712, 624, 536]

In [59]:
# stays a range object
# almost no evaluation happens
a = range(3, 20, 4)
a

range(3, 20, 4)

In [60]:
type(a)

range

In [61]:
# convert variable a to a list
list(a)

[3, 7, 11, 15, 19]

# Re-assigning elements in a list
Lists are mutable, which means that every element in the list can be changed.

Let's re-assign the first element of the following list to 99.

In [62]:
my_list = [1, 2, 3, 4, 'one', 'two', 4.9]
my_list[0] = 99

### No output with assignment statement
The assignment statement above produces no output. It merely changes the first element to 99. Let's output the list to verify the change:

In [63]:
my_list

[99, 2, 3, 4, 'one', 'two', 4.9]

## Mutating Slices of lists
It's possible to reassign multiple elements of a list with a single element. To do so, you must assign the slice to another list with a single element in it.

The following creates a list of 20 integers and replaces the last half with a single element.

In [72]:
# Lets first create a list of numbers from 0 to 20
my_list = list(range(10))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [73]:
# Replace the list from index 10 to the end with a single element
my_list[6:] = ['new last element']
my_list

[0, 1, 2, 3, 4, 5, 'new last element']

In [74]:
#print(my_list[11])

len(my_list)

7

### Problem 4
<span style="color:green">Create a list of 10 elements starting from 0 using the range function. Slice the list from the 2nd element to the 6th element with a step size of 2 and attempt to assign a single element list to it. What happens?</span>

In [79]:
# your code here
new_list = list(range(10))
print(new_list)

new_list[2:6:2] = 3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

TypeError: must assign iterable to extended slice

### Problem 5
<span style="color:green">After the error above in problem 4, try and assign a different list to that slice that does not raise an error. What is the rule for assigning new elements to slices of lists?</span>

In [81]:
# your code here
# your code here
new_list = list(range(10))
print(new_list)

new_list[2:6:2] = (3,11)
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 3, 3, 11, 5, 6, 7, 8, 9]

### Problem 6
<span style="color:green">Create a list using the `range` function from 100 to 500. Use the **`slice`** function to create a slice object that starts from the 20th element from the end and slices to the end (use keyword `None` for this) by 5. Slice your list with this object.</span>

In [97]:
# your code here
range_list = list(range(100,500))
print(range_list)
len(range_list)

range_list[-20:None:5]

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499]

[480, 485, 490, 495]

# Deleting with the `del` statement
In Python it's possible to delete variables and completely remove them from the program.

In [103]:
# create a variable and then delete it
var = 'some variable'
print(var)
del var

some variable

In [106]:
# now try and access that variable and get an error
var

NameError: name 'var' is not defined

# Deleting elements in a list
More useful than just deleting a variable is the ability to delete elements of a list, or different subsets of mutable objects.

It is possible to delete single elements and even slices of lists so this operation is quite versatile. Let's see some examples of the **`del`** statement with lists.

In [107]:
# create a list
my_list = list(range(20))
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [108]:
# delete the element at the 8th index
del my_list[8]
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [109]:
# delete a slice from the 4th to the 12th element
del my_list[4:12]
my_list

[0, 1, 2, 3, 13, 14, 15, 16, 17, 18, 19]

In [113]:
# delete from the 3rd to the last element with a step size of 3
my_list = list(range(20))
del my_list[3::3]
my_list

[0, 1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

### Creating a list out a string
The built-in **`list`** keyword can act like a function that forces objects of other types to become a list. One use of this is to convert a string to a list. Every character in the string is now an element in the list.

In [114]:
# create a list of characters from a string
my_string = 'string about to be a list'
print(list(my_string))

['s', 't', 'r', 'i', 'n', 'g', ' ', 'a', 'b', 'o', 'u', 't', ' ', 't', 'o', ' ', 'b', 'e', ' ', 'a', ' ', 'l', 'i', 's', 't']

### Problem 7
<span style="color:green">Create a list of characters using the list function on a string. Delete elements starting from index 2 up to index 6. Output the new list.
</span>

In [122]:
# your code here

list_char = list('my char list')
print(list_char)

del list_char[2:6]
list_char

['m', 'y', ' ', 'c', 'h', 'a', 'r', ' ', 'l', 'i', 's', 't']

['m', 'y', 'r', ' ', 'l', 'i', 's', 't']

### Advanced: Problem 8
<span style="color:green">Create a list using the range function from 352 to 5218 by 7. Delete elements starting from the index that is 100th from the end up to the 8th element from the end by 6. Without printing out the entire list, what is the last number that was deleted from your original list? 
</span>

In [133]:
# your code here

my_list = list(range(352,5218,7))
del my_list[-100:-8:6]
my_list[-20:]

[5063,
 5077,
 5084,
 5091,
 5098,
 5105,
 5119,
 5126,
 5133,
 5140,
 5147,
 5161,
 5168,
 5175,
 5182,
 5189,
 5196,
 5203,
 5210,
 5217]

### Creating a string from a list
Just like we created a list from a string, it is possible to create a string from a list. First, you must have a list of strings that you would like to concatenate together to make one long string. Then, you need to create a string that will be used as a **separator** in between each element in the list. Finally, call the **`join`** method from the separator passing the list of strings as the argument.

In [134]:
# Create a list of strings
list_of_strings = ['humpty', 'dumpty', 'sat', 'on', 'a', 'wall']

# choose a string that will act as the separator between each string element
# lets just use a blank space
separator = ' '

# use the join string method to create one string from the list of strings
separator.join(list_of_strings)

'humpty dumpty sat on a wall'

In [135]:
# do the same thing without assigning the separator variable first
' '.join(list_of_strings)

'humpty dumpty sat on a wall'

In [136]:
# use any other set of characters as the separator
' 001111000 '.join(list_of_strings)

'humpty 001111000 dumpty 001111000 sat 001111000 on 001111000 a 001111000 wall'

### Problem 9
<span style="color:green">Use the character 'a' to separate and join the following list to reveal the magic word </span>

In [141]:
# concatenate all elements of this list together separated by 'a'
magic_word = ['', 'b', 'r', 'c', 'd', 'b', 'r', '!']

# your code here
'a'.join(magic_word)

'abaracadabara!'

# List Concatenation
There are two ways to concatenate two lists together.
* Use the plus operator
* Use the **`extend`** method

The plus operator produces a new list object, while extend mutates the **calling list** in-place. The calling list is the one that is invoking the method, the one using dot notation.

### Concatenation of multiple lists with the plus operator
See the below examples of concatenation with the plus operator. Notice how the original lists are not mutated.

In [152]:
list_1 = [1,2,3]
list_2 = [4, 5, 6]
list_1 + [1,3,5] + list_2 + ['a','b','c'] + [True]

[1, 2, 3, 1, 3, 5, 4, 5, 6, 'a', 'b', 'c', True]

In [153]:
list_1

[1, 2, 3]

In [154]:
list_2

[4, 5, 6]

In [155]:
# add lists without first assigning to a variable
[4, 5, 6] + [1, 2, 3]

[4, 5, 6, 1, 2, 3]

In [156]:
# you can add any number of lists together
[1, 4, 5] + [10] + ['a', 'b', 'c'] + [True, [1, 2, 3]]

[1, 4, 5, 10, 'a', 'b', 'c', True, [1, 2, 3]]

In [157]:
# save the new list to a variable to reuse it later
new_list = [1, 4, 5] + [10] + ['a', 'b', 'c'] + [True, [1, 2, 3]]
new_list

[1, 4, 5, 10, 'a', 'b', 'c', True, [1, 2, 3]]

### Use the `extend` method to mutate the calling list in place
Notice that you must pass a list (or a list-like object) to the **`extend`** method

In [158]:
# there is also the extend method, which concatenates lists in-place
list_1 = ['a', 'b', 'c']
list_2 = [99, 100]
list_1.extend(list_2) # Returns None (no output) and the operation happens in-place

In [159]:
# output the list to see extend worked properly
list_1

['a', 'b', 'c', 99, 100]

In [160]:
# the second list is unmodified
list_2

[99, 100]

In [161]:
# extend with a new list that is not assigned to a variable
list_1 = [1, 2]
list_1.extend(['end'])

list_1

[1, 2, 'end']

### Attempting to extend with a single value
If you attempt to extend the list with a single integer, float, string, or other

In [ ]:
list_1 = [1, 2]

list_1.extend(10)
list_1

### What is an iterable?
This definition is beyond the scope of this notebook so you can ignore it for now but in simple terms an iterable is any object where you can move through a sequence of items. Strings, tuples, lists, sets, and dictionaries are common iterable objects.

### Extending a list with a string
The last paragraph mentions strings as iterable. It is possible to iterate one by one through the sequence of characters. So what happens when you extend a list with a string?

In [1]:
# lets find out!
list_1 = [1, 2]
list_1.extend('abcdef')
list_1

[1, 2, 'a', 'b', 'c', 'd', 'e', 'f']

# List Equality
Two equal signs (**`==`**) can be used to test equality of lists. For two lists to be equal, each element must equal to its corresponding element in the other list.

In [2]:
# checking equality
list_1 = list(range(5))
list_2 = [0, 1, 2, 3, 4]
list_1 == list_2

True

In [3]:
# slicing and concatenating list and checking equality
list_1[:3] + list_1[3:] == list_1

True

### Problem 10
<span style="color:green">Use the `+` operator to concatenate two lists. Make the first list the even elements of test_list and the second list the odd elements of test_list</span>

In [6]:
test_list = list(range(20))
# your code here
list_1 = test_list[1::2]
list_2 = test_list[::2]
list_1 + list_2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### Problem 11
<span style="color:green">Create a list then use the `extend` method to add four elements to it</span>

In [9]:
# your code here
list_1 = [1,2,3]
list_2 = ['a','b','c','d']
list_1.extend(list_2)
print(list_1)
print(list_2)

[1, 2, 3, 'a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

### Problem 12
<span style="color:green">In words, without actually programming, what will <strong>my_list * 5</strong> do?</span>

In [22]:
#### Change this cell to markdown and answer the question here 
#### my_list*5 is gonna concatened in itself 5x 
#### then verify the results in the following code cell

## Lists of Lists
List elements may be of any type, meaning that we can create lists of lists, which are similar to n-dimensional arrays in scientific computing.

In [29]:
# create a list of lists
list_list = [[1, 2, 3], [3,2,1], [4,5], [5,4]]

In [30]:
# What happens when we access the first element?
list_list[0]

[1, 2, 3]

### Select a single element from a list within a list
Use two consecutive square bracket selections when selecting an element from a list of a list. The first selection below selects the list **`[1, 2, 3]`** and the second selects the integer 3.

In [31]:
# How to access nested lists
list_list[0][2]

3

In [33]:
# Use different indices to get the same item
list_list[-3][-3]

3

In [34]:
# get a  slice of a list of a list
list_list[2][1:]

[5]

In [35]:
# mutate this list of list
list_list[2][1:] = [900, 909]
list_list

[[1, 2, 3], [3, 2, 1], [4, 900, 909], [5, 4]]

### Problem 13
<span style="color:green">First create a list containing at least three inner lists. Then replace the second list with a reverse of the third list.</span>

In [45]:
# your code here
my_list = [[1,2,3],[4,5,6],[7,8,9]]
print(my_list[1])
my_list[1] = my_list[2][::-1]
my_list[1]

[4, 5, 6]

[9, 8, 7]

# Check item is in list
To determine if an element is contained within a list, the **`in`** or **`not in`** operator is used. This is done in the same way as checking for a substring in a string.

In [46]:
# check list membership
my_list = [6, 'word', 2]
6 in my_list

True

In [47]:
12 in my_list

False

In [48]:
5 not in my_list

True

### Problem 14
<span style="color:green">Create a list using the range function from 0 to 100,000 by 113 and determine if the value 87,649 is in the list or not.</span>

In [50]:
# your code here
my_list = list(range(0,100000,113))
87649 in my_list

False

### Congrats on finishing notebook 4!
Move on to notebook 5! The pre-course is mandatory so make sure you finish it all!