# Pandas NumPy Intro

### Objectives
After this lesson you should be able to...
+ Get help by knowing your object, reading documentation and using inline commands
+ Know why pandas is more suitable for data analysis than Python lists
+ Identify a Series as a single dimensional data structure with an **index** and **values**
+ Know the difference between an **index** and **values**
+ Know the difference between attributes and methods and how they are accessed
+ Create a Series with the constructor using **index** and **values** keyword arguments
+ Access Series items by integer position with **`.iloc`**
+ Access Series items by index label with **`.loc`**
+ Always use **`.iloc`** or **`.loc`** for accessing Series elements
+ Know why using the brackets **`[]`** to access elements is undesired
+ Know that the indexes automatically align when two Series objects are added (or any operation) together
+ Be familiar with basic Series methods and attributes

### Prepare for this lesson by...
[ALWAYS READ THE DOCUMENTATION BEFORE A LESSON!](http://pandas.pydata.org/pandas-docs/stable/)
+ Read the [Package Overview](http://pandas.pydata.org/pandas-docs/stable/overview.html)
+ Read [Intro to Data Structures](http://pandas.pydata.org/pandas-docs/stable/dsintro.html) - **just the Series section**
+ Read [Indexing and Selecting](http://pandas.pydata.org/pandas-docs/stable/indexing.html) - **up to but not including Selection By Callable**

# Welcome to ....
![](images/pandas.png)


### What is Pandas?
Pandas is possibly the best open source data exploration library available currently available. It gives the user tremendous power to easily explore, manipulate, query, aggregate, visualize, `<insert cool sounding data word>`, etc... tabular (row, column) data.

### Why Pandas and not xyz?
In this current age of data explosion, there are now many dozens of other tools that can essentially do many, if not more, than what the pandas library can do. However, there are many aspects of pandas that set it apart and it continues to have one of the fastest growing user bases.
1. It's a Python library, which makes it easy to read, easy to develop, and easily integrates with other popular Data Science Python libraries like numpy, scikit-learn, statsmodels, matplotlib and seaborn.
2. It is nearly self-contained in that tremendous functionality is built in one package. This contrasts with R, where many packages are needed to obtain the same functionality.
3. The community is amazing. Looking at stackoverflow, for example, there are [over 40,000](http://stackoverflow.com/questions/tagged/pandas) pandas questions. SAS, a multi-billion dollar revenue analytics software maker has only a fraction of the questions. This is one huge benefit of open source in general. If you need help, you are nearly guaranteed to find it very quickly. After a while most of your questions will be answered in the top few search results from Google.
4. Lightning fast development. New features are added all the time thanks to the huge community. This contrasts with propriety software which can never move as fast.
5. Powerful, simple, amazing community!!!

### Why is it named after an east Asian bear?
Pandas was built by a young guy named Wes McKinney beginning in 2008 at a hedge fund named AQR. Finance speak is to call tabular data 'panel data' which smashed together becomes pandas. If you are really interested in the history, you can hear it from the creator [himself](https://www.youtube.com/watch?v=kHdkFyGCxiY)

### Python already has data structures to handle data, why do we need another one?
Even though Python itself is a high level language, its primary built-in data structures - lists and dicts - do not easily lend themselves to tabular data in ways that humans can easily operate on them. Just summing up items in a list can be quite slow.

### NumPy
NumPy ('numerical Python') is the most popular third-party Python library for scientific computing and forms the foundation for dozens of others. NumPy's primary data structure is an n-dimensional array which allows for very fast computation needed in scientific computing. See the example below showcasing the speed difference between summing a list vs an NumPy array of 1 million numbers.

In [1]:
# create a list of 1 million
n = 1000000
my_list = list(range(n))

### Timing Code Execution with %%timeit
%%timeit is a cell magic command and execute all code in the code cell and return the time it took to complete execution.

In [2]:
%%timeit
sum1 = sum(my_list)

10.7 ms ± 518 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [3]:
# if you've downloaded anaconda then you already have numpy
import numpy as np

In [4]:
# create array with arange function.
array = np.arange(n)

In [5]:
%%timeit 
sum2 = np.sum(array)

531 µs ± 18.3 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

### What just happened?
iPython comes with handy dandy magic commands that give you some great extra functionality. The one I use the most is **`timeit`** which times the length of the operation. Precede it by % for a single line magic and %% for entire cell magic. Using the built-in sum function with a list took approximately 20 times longer than using numpy's array and this was just a simple sum of a list of numbers. This difference increases with complexity of the operation performed on the data.

### Why is numpy so fast?
Numpy ndarray operations are executed in pre-compiled C code which makes for much faster execution times. A python list in contrast must be iterated through at run-time, can take any number of different types and so is not well suited to do large numerical computations.

### Why not numpy?
Though numpy is fast and can handle most of our data needs, it still is relatively low-level.  For example, the ndarray is just a brick of numbers. The main data structure in pandas, the **`DataFrame`** is built directly upon the ndarray. Pandas allows much easier access to rows and columns, powerful statistical functionality, enhanced merging and grouping and many more data manipulation abilities. We will not delve into the specifics of numpy, but remembering that pandas building blocks consists of numpy building blocks as its base is useful. More info on numpy can be found [in the docs](https://docs.scipy.org/doc/numpy/user/index.html). We will be using some numpy directly in this course.

### Quick Aside on Magic Commands
For more advanced usage of iPython like the %timeit magic command used above, [visit the iPython magic docs](http://ipython.readthedocs.io/en/stable/interactive/magics.html). See a list of all the magic commands below with **%lsmagic** command which lists all of them.

In [6]:
# Want to view all the magical abilites?
# view all the magic commands
%lsmagic

Available line magics:
%alias  %alias_magic  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %popd  %pprint  %precision  %profile  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

### Pandas is simple: There's really only one type of data structure
Data representation is simple. It's just plopped in what most people would call a table. Rows, columns, thats it. 

![df](images/college_head.png)

You've seen this every day of your life. So no more explaining. 

Well, not exactly.  There are numerous formats for data (XML, json, raw bytes, etc...), but for our purposes, we will only be examining what everyone thinks of when the they think of data - a table.

Pandas is built just for analyzing this tabular, rectangular, very deceptively normal concept of data. There are two primary objects that account for everything we will be covering. 

**The Series and the DataFrame.**

The **Series** is a single column of data with an **index** that references each element. The index is **very** important in pandas and what separates itself from a numpy array. More attention will be given to the index later.

The **DataFrame** is a collection of Series (columns) and forms your normal concept of a table with rows and columns. Again, the **index** is very important. Both the rows and columns have an **index** that references them.

For now, think of the **index** as a set of labels that can reference a particular row or column of data.

# Import pandas and read in some data
By convention pandas is imported and aliased as **`pd`**. We will read in the movie dataset with the **`read_csv`** function. We display the first five rows with the **`head`** method.

In [9]:
import pandas as pd
movie = pd.read_csv('data/movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

# Anatomy of a DataFrame

![](images/dataframe_anatomy.png)

The DataFrame is the most common object you will be doing your analysis on and it is important for you to grasp all parts of it while using the correct terminology. There are three components to a DataFrame, the **index**, the **columns** and the **data**. 
* The index labels the rows and the columns label the columns
* An individual element of the index is an index label
* An individual element of the columns is a column name
* The index and the columns are always in bold font
* Collectively the index and the columns are known as axes
* pandas also refers to each axis by an integer. 0 for the index and 1 for the columns. This is borrowed directly from NumPy
* The actual data is always in normal font
* Data is also referred to as values
* Missing values are displayed as NaN (not a number)

# Select a single column from a DataFrame producing a Series
To select a single column from a DataFrame, pass the name of one of the columns to the indexing operator, **`[]`**.

In [10]:
director = movie['director_name']
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

# Anatomy of a Series

![Series](images/series_anatomy.png)

There are two main components of a Series, the **index** and the **data**. The terminology of the Series is the same as the DataFrame but the output is stylized differently. The index is no longer bold. There is some metadata, name, length and data type produced at the bottom that will be discussed later.

### Attributes and Methods of a Series
Every variable in Python is an object and all objects have attributes and methods. It's interesting to see everything that a Series is capable of doing. The **dir** function accesses all the attributes and methods for every Python object.

In [11]:
# As was done earlier in the precoure, print out all the methods/attributes of the series object
print(dir(director))

['T', '_AXIS_ALIASES', '_AXIS_IALIASES', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_REVERSED', '_AXIS_SLICEMAP', '__abs__', '__add__', '__and__', '__array__', '__array_prepare__', '__array_priority__', '__array_wrap__', '__bool__', '__bytes__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__div__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__int__', '__invert__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__le__', '__len__', '__long__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pow__', '__radd__', '__rand__', '__rdiv__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__unicode__', '__weakref__', '__xor__', '_accessors', '_add_numeric_operations', '_add_series_only_operations', '_add_series_or_dataframe_operations', '_agg_by_level', '_agg_doc', '_aggregate', '_aggregate_multiple_funcs', '_align_frame', '_align_series', '_allow_index_ops', '_at', '_binop', '_box_item_values', '_builtin_table', '_can_hold_na', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_percentile', '_check_setitem_copy', '_clear_item_cache', '_clip_with_scalar', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_dict_for_slice', '_construct_axes_dict_from', '_construct_axes_from_arguments', '_constructor', '_constructor_expanddim', '_constructor_sliced', '_convert', '_create_indexer', '_cython_table', '_dir_additions', '_dir_deletions', '_expand_axes', '_from_axes', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cacher', '_get_index_resolvers', '_get_item_cache', '_get_numeric_data', '_get_values', '_get_values_tuple', '_get_with', '_gotitem', '_iat', '_iget_item_cache', '_iloc', '_index', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_init_mgr', '_internal_names', '_internal_names_set', '_is_builtin_func', '_is_cached', '_is_cython_func', '_is_datelike_mixed_type', '_is_mixed_type', '_is_numeric_mixed_type', '_is_view', '_ix', '_ixs', '_loc', '_make_cat_accessor', '_make_dt_accessor', '_make_str_accessor', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_needs_reindex_multi', '_obj_with_exclusions', '_protect_consolidate', '_reduce', '_reindex_axes', '_reindex_axis', '_reindex_indexer', '_reindex_multi', '_reindex_with_indexers', '_repr_data_resource_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_as_cached', '_set_axis', '_set_axis_name', '_set_is_copy', '_set_item', '_set_labels', '_set_name', '_set_subtyp', '_set_values', '_set_with', '_set_with_engine', '_setup_axes', '_shallow_copy', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_try_aggregate_string_function', '_typ', '_unpickle_series_compat', '_update_inplace', '_validate_dtype', '_values', '_where', '_xs', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'as_blocks', 'as_matrix', 'asfreq', 'asobject', 'asof', 'astype', 'at', 'at_time', 'autocorr', 'axes', 'base', 'between', 'between_time', 'bfill', 'blocks', 'bool', 'clip', 'clip_lower', 'clip_upper', 'combine', 'combine_first', 'compound', 'compress', 'consolidate', 'convert_objects', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'data', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'dropna', 'dtype', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_array', 'from_csv', 'ftype', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_value', 'get_values', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'imag', 'index', 'interpolate', 'is_copy', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isnull', 'item', 'items', 'itemsize', 'iteritems', 'ix', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'nonzero', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'ptp', 'put', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'real', 'reindex', 'reindex_axis', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'reshape', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'select', 'sem', 'set_axis', 'set_value', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sortlevel', 'squeeze', 'std', 'str', 'strides', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_msgpack', 'to_period', 'to_pickle', 'to_sparse', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'tolist', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'valid', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

### Help?
Those are an unbelievable amount of attributes and methods. Its not likely that you will have them handily remembered to use at any time in the future so be prepared to get help when using pandas, especially in the beginning. Luckily for us help is quite easy to get. Pandas has excellent [documentation](http://pandas.pydata.org/pandas-docs/stable/index.html) with plenty of examples that you should go through completely if you want to know just about every single feature the library has to offer. That link is always to the newest (stable) pandas version.

To get help inside the notebook use the help function to have the help printed to the screen or put a '?' at the end of the method to bring up a separate help window on the bottom. To view source code put '??' at the end. You can also directly view the source code in your file system by navigating to /path/to/anaconda/lib/python3.X/site-packages/pandas/core/base.py

And one more excellent way to get help and my personal favorite - is to press shift + tab + tab once inside the parentheses of a method.

In [12]:
## Get source code for value_counts method
director.value_counts??

### Counting the data
Counting data is one of the most common things to do with it. The **`value_counts`** method counts the occurrence of each data in a Series and orders it by the most frequent.

In [15]:
# count and order the occurrences of each datum
director_vc = director.value_counts()
director_vc.head()

Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Spike Lee           16
Name: director_name, dtype: int64

### Value Counts Explanation
The output looks very straightforward. The value Steven Spielberg occurred 26 times, Woody Allen 22, etc... End of story. Well, not really. Do you know what type of object was returned from this operation? Take a guess.

In [17]:
# examine what is returned from value_counts
type(director_vc)

pandas.core.series.Series

### Knowing Your Results
Even though the output returned from **`value_counts`** may have been obvious for anyone to interpret, it is crucial to know exactly what was returned. A new **Series** object was created with the director names now in the **index** and the frequency count as the **values**.

# Always Know What Type of Object is Returned!
Its imperative to always know the type of object your are working with is. To be certain, use the **`type`** function to find out.

Every value from an object's dot notation always returns some kind of object and again it's extremely important to know what type of object is returned. Every element of a list, tuple, set, dictionary, pandas Series or DataFrame is an object itself.

It should be obvious that knowing an object's type is the first thing you should know about it, but this can easily be overlooked when working with more complex Python libraries like pandas.

Similarly to how you must know if you are looking at a bird or cat or car or human, you need to know what type of object you have so that you can know what to do with it and what it's capable of doing. There will be many examples shown below dealing with understanding object types.

In [18]:
# simple types. boolean, integer, float, string
# use the type function to output the types
a = True
b = 5
c = 9.45
d = 'asdf'

type(a), type(b), type(c), type(d)

(bool, int, float, str)

In [19]:
# You can create complex (imaginary) numbers by using the letter j
a = 9 + 5j

type(a)

complex

In [20]:
# None is an object with no public attributes or methods
a = None
type(None)

NoneType

In [21]:
# not all keywords are objects. Only things that are able to be assigned to a variable are objects
type(for)

SyntaxError: invalid syntax (<ipython-input-21-019e0d4fffc8>, line 2)

In [22]:
# not all keywords are objects
type(in)

SyntaxError: invalid syntax (<ipython-input-22-e71e8c95fe74>, line 2)

In [23]:
# are functions objects? Yes!
a = max

type(a)

builtin_function_or_method

In [24]:
# lists, sets, tuples, dictionaries
a = [1, 2, 3]
b = {1, 5}
c = (6, 9, True)
d = {'a': 1, 54: 'adsf'}

type(a), type(b), type(c), type(d)

(list, set, tuple, dict)

In [25]:
# get the attributs/methods of a dictionary. What is the type returned?
d = {'a': 1, 54: 'adsf'}
dictionary_abilities = dir(d)

type(dictionary_abilities)

list

In [26]:
# how about range
a = range(10)

type(a)

range

In [27]:
# How about Python modules? Yes, they are their own types
import math

type(math)

module

### Most Common Python Built-in Types
This covers defining the most common Python built-in types: boolean, integer, float, complex, string, list, set, tuple, dictionary, range, modules and None.

Take a look at the [built-in types section](https://docs.python.org/3/library/stdtypes.html) in the Python documentation for a much more detailed breakdown of the different types. Let's Continue with a few more examples.

In [28]:
# dictionary with values of many different types
d = {11: 'prime', 'composites':[4, 6, 8], 'a': True}

print(d['composites'])

type(d['composites']) # the value mapped to the 'composites' key is a list

[4, 6, 8]

list

In [29]:
# lists of objects
a = [max, 1, [4, 5, min], {'a': 1}]

print(type(a))

type(a[2]), type(a[3]) # lists and dictionaries in a list

<class 'list'>

(list, dict)

### Examining the Series: The Index and the Values
A pandas Series is composed of the index and the values. Both the index and the values are themselves unique objects and have their own types. The index is a pandas object and it's type is **Index**.  The values are a NumPy object with type ndarray. You can access these objects directly from a Series using the **index** and **values** attributes using dot notation.

In [30]:
# get the index
director_index = director.index

director_values = director.values

# output the object types
type(director_index), type(director_values)

(pandas.core.indexes.range.RangeIndex, numpy.ndarray)

Technically, in this particular case the index is another pandas object called the **RangeIndex** which functions similarly to the **range** built-in function but that distinction is not important for now. The important point is that the index is a pandas object and the values are a NumPy object.

In [33]:
# lets look at the values of the index. Use dot notation again
director_index.values

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [34]:
# can use dot notation twice starting from the original Series to get the values of the index
director.index.values

array([   0,    1,    2, ..., 4913, 4914, 4915])

### Arithmetic operators with Series
The arithmetic operators +, \*, -, /, //, \** may all be used to on the entirety of a numeric Series. Let's select the **`imdb_score`** column which is numeric and use arithmetic operators on it.

In [52]:
imdb_score = movie['imdb_score']
imdb_score_head = imdb_score.head()
imdb_score_head

0    7.9
1    7.1
2    6.8
3    8.5
4    7.1
Name: imdb_score, dtype: float64

In [40]:
# add 5 to each element
imdb_score_head + 5

0    12.9
1    12.1
2    11.8
3    13.5
4    12.1
Name: imdb_score, dtype: float64

In [41]:
# divide each element by 5
imdb_score_head / 5

0    1.58
1    1.42
2    1.36
3    1.70
4    1.42
Name: imdb_score, dtype: float64

### Lists cannot do this
If you have only worked with python lists and dictionaries for containing data then the last code blocks should amaze you. Although its obvious what has happened this simple functionality does not come out of the box with a python list.

In [36]:
# the plus symbol is used to concatenate two lists together
my_list = list(range(4))
my_list + 5

TypeError: can only concatenate list (not "int") to list

Since 5 is an int and not a list, an error is thrown. Python has no idea that you would like to add 5 to each of the elements. Pandas natively understands that you would like to actually add 5 to every element.

### Vectorized Operations
Pandas/numpy are filled with vectorized operations going on all the time. A vectorized operation is one where a sequence of numbers is operated on without the explicit writing of for loops. They are handled outside of python in precompiled C/Fortran code that has been optimized a long time ago. Vectorized operations allow you to execute many operations with ease that normally take a very long time to write through normal iterative methods in python.

# <del>LOOPS</del>
Because of vectorization, we can say goodbye to loops. If you are writing loops in pandas, you are probably doing it wrong.

In [42]:
# A slew of other mathematical operations are able to be performed on a python series
# raise every element to a power and continue doing element by element math
imdb_score_head ** 4 / 13 - 40

0    259.616008
1    155.474469
2    124.472123
3    361.543269
4    155.474469
Name: imdb_score, dtype: float64

Use the **`tolist`** Series method to turn all the values to a list and then use a comprehension to get the same result.

In [45]:
my_list = imdb_score_head.tolist()
[element ** 4 / 13 - 40 for element in my_list]

[259.6160076923078,
 155.4744692307692,
 124.47212307692305,
 361.5432692307692,
 155.4744692307692]

### Series Methods Exploration
There are dozens of Series methods that allow tremendous power. Some very basic ones are covered below. Remember that methods always follow the dot notation from your object. Press **tab** after the dot to see the entire list of available methods in a menu and **shift + tab + tab** to see the help menu.

In [46]:
imdb_score_head.add(5) # add 5 using a method

0    12.9
1    12.1
2    11.8
3    13.5
4    12.1
Name: imdb_score, dtype: float64

In [47]:
imdb_score_head.sum() #sum up all the items

37.4

In [48]:
# sort the values from least to greaters
imdb_score_head.sort_values()

2    6.8
1    7.1
4    7.1
0    7.9
3    8.5
Name: imdb_score, dtype: float64

### Method arguments
Many methods have very valuable arguments that can be set to get a different result. Here we sort from largest to smallest

In [49]:
# many methods have very valuable arguments that can be set to get a different result. 
# Here we sort from largest to smallest
imdb_score_head.sort_values(ascending=False)

3    8.5
0    7.9
4    7.1
1    7.1
2    6.8
Name: imdb_score, dtype: float64

### Numeric aggregation
An aggregation produces a single number from a sequence of numbers. There are several basic aggregation Series method.

In [53]:
(imdb_score.std(), 
 imdb_score.var(), 
 imdb_score.min(), 
 imdb_score.max(), 
 imdb_score.mean(), 
 imdb_score.median(), 
 imdb_score.mode())

(1.1278020919075153,
 1.2719375585109678,
 1.6000000000000001,
 9.5,
 6.4374288039056085,
 6.6,
 0    6.7
 dtype: float64)

### Numeric accumulation
These methods output the current min, max, sum or product moving down the Series. The returned Series remains the same length as the original.

In [55]:
imdb_score_head.cumsum()

0     7.9
1    15.0
2    21.8
3    30.3
4    37.4
Name: imdb_score, dtype: float64

In [57]:
imdb_score_head.cumprod()

0        7.9000
1       56.0900
2      381.4120
3     3242.0020
4    23018.2142
Name: imdb_score, dtype: float64

### Head and Tail Methods
Series objects can occasionally be extremely large and not a good choice to print on the screen. The **`head`** and **`tail`** methods allow to quickly inspect the first or last elements of a Series. They both accept the parameter **`n`** for the number of rows to output.

In [59]:
imdb_score.head(9)

0    7.9
1    7.1
2    6.8
3    8.5
4    7.1
5    6.6
6    6.2
7    7.8
8    7.5
Name: imdb_score, dtype: float64

In [62]:
imdb_score.tail(3)

4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, dtype: float64

# End of Section Summary
* Know that pandas is built on top of numpy
* The main data structures of Pandas are the Series and the DataFrame
* The index is the main construct that separates a numpy array from a pandas DataFrame
* Always know the types of your objects so you know what they are capable of doing
* Use %timeit
* Create a Series with a custom index
* Access Series elements with loc and iloc
* Understand automatic alignment of the index
* Know basic Series methods value_counts, sum, max, min, head etc...
* Be familiar with vectorization - no for loops

# Your Turn!

### Problem 1
<span  style="color:green; font-size:16px">What type of object is returned from the values of the index of a Series?</span>

In [ ]:
# your code here

### Problem 2
<span  style="color:green; font-size:16px">Create a 3 element pandas Series using the Series constructor with characters as the index and numbers as the values. Output the Series.</span>

In [84]:
# your code here

### Problem 3
<span  style="color:green; font-size:16px">Another way to create a series is to pass a dictionary to the pandas series constructor. The keys of the dictionary become the Series index and the dictionary values become the Series values. Create a dictionary with at least 3 elements and use it to create a series. Output the Series.</span>

In [85]:
# your code here

### Using NumPy to create a Series with random values
A common way to create Series for practice is to fill them with NumPy random values. NumPy has an excellent random module that provides more functionality than the built-in Python random module for creating all sort of random numbers from different distributions.

Below, a Series of length 100 will be created with random numbers between 0 and 1 using the `np.random.rand` function. The index will be started from 10.

In [260]:
idx = range(10, 110) # generate values for the index
values = np.random.rand(100) # generate 100 random numbers between 0 and 1

s = pd.Series(data=values, index=idx)

### Problem 4
<span  style="color:green; font-size:16px">Output to the screen the first 10 numbers in the Series above. Remember to only use **loc** and **iloc** when accessing Series elements.</span>

In [ ]:
# your code here

### Problem 5
<span  style="color:green; font-size:16px">Output elements with labels 40, 50 and 99 from the Series above.</span>

In [ ]:
# your code here

### Problem 6
<span  style="color:green; font-size:16px">Output the last ten elements of the Series.</span>

In [ ]:
# your code here

### Problem 7
<span  style="color:green; font-size:16px">Output every 15th element using slice notation.</span>

In [ ]:
# your code here

### Problem 8
<span  style="color:green; font-size:16px">Write a function that accepts a single argument. The argument will be a Series. Have the function return the difference between the largest and smallest Series value. Run your function with the Series above.</span>

In [ ]:
# your code here

### Problem 9
<span  style="color:green; font-size:16px">If two Series are added with no indices in common, what will be the outcome? Check your answer by coding this situation.</span>

In [261]:
# your code here

### Problem 10
<span  style="color:green; font-size:16px">What if the two series from problem 9 were subtracted, multiplied or divided together?</span>

In [ ]:
# your code here

### Problem 11
<span  style="color:green; font-size:16px">Create two Series that have 3 elements each and when added together yield a Series that has four 4 elements that are all not missing.</span>

In [ ]:
# your code here