# 3. Selecting Subsets of Data - Series


### Objectives

+ Learn how to select subsets from a Series using `.loc` and `.iloc`


### Overview
This notebook will teach you how to select a subset of data from a Series.

# Using Dot Notation to Select a Column as a Series
The last notebook showed how to use *just the brackets* to select a single column as a Series. Another common way to do this uses dot notation. Place the column name following a dot after the name of your DataFrame.

Let's read in the movie dataset, set the index as the title and then select the title year with dot notation.

In [1]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv', index_col='movie_title')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [3]:
movie.title_year.head()

movie_title
Avatar                                        2009.0
Pirates of the Caribbean: At World's End      2007.0
Spectre                                       2015.0
The Dark Knight Rises                         2012.0
Star Wars: Episode VII - The Force Awakens       NaN
Name: title_year, dtype: float64

### I don't recommend doing this
Although this is valid Pandas syntax I don't recommend using this notation for the following reasons:
* You cannot select columns with spaces in them
* You cannot select columns that have the same name as a Pandas method such as **`count`**

Using *just the brackets* **always** works so I recommend doing the following instead:

In [4]:
movie['title_year'].head()

movie_title
Avatar                                        2009.0
Pirates of the Caribbean: At World's End      2007.0
Spectre                                       2015.0
The Dark Knight Rises                         2012.0
Star Wars: Episode VII - The Force Awakens       NaN
Name: title_year, dtype: float64

### Why even know about this?
Pandas is written differently by different people and you will definitely see this syntax around so it's important to be aware of it.

It also has the advantage of providing tab-completion help when chaining a method to the end. Place your cursor at the end of the following two lines and press tab. Only the one that selects via dot notation will show the available methods. This helps me remember what methods are possible, so sometimes I will use this to find the method I need and then change the syntax back to the brackets.

In [ ]:
# place your cursor after the dot and press tab
movie.title_year.

In [7]:
# place your cursor after the dot and press tab
movie['title_year'].

# Selecting Subsets of Data From a Series
Selecting subsets of data from a Series is very similar to that as a DataFrame. Since there are no columns in a Series, there isn't a need to use *just the brackets*. Instead, you can do all of your subset selection with **`.loc`** and **`.iloc`**

Let's select the column for IMDB scores as a Series and output the head.

In [9]:
imdb = movie['imdb_score']
imdb.head()

movie_title
Avatar                                        7.9
Pirates of the Caribbean: At World's End      7.1
Spectre                                       6.8
The Dark Knight Rises                         8.5
Star Wars: Episode VII - The Force Awakens    7.1
Name: imdb_score, dtype: float64

### Selection with a scalar, a list, and a slice
Just like with a DataFrame, both **`.loc`** and **`.iloc`** accept either a single scalar, a list, or a slice.

Let's select the movie IMDB score for 'Forrest Gump':

In [12]:
imdb.loc['Forrest Gump']

8.8

Select both 'Forrest Gump' and 'Avatar'. Notice that a Series is returned.

In [13]:
imdb[['Forrest Gump', 'Avatar']]

movie_title
Forrest Gump    8.8
Avatar          7.9
Name: imdb_score, dtype: float64

Select every 100th movie from 'Avatar' to 'Forrest Gump':

In [16]:
imdb.loc['Avatar':'Forrest Gump':100]

movie_title
Avatar                                   7.9
The Fast and the Furious                 6.7
Harry Potter and the Sorcerer's Stone    7.5
Epic                                     6.7
102 Dalmatians                           4.8
Pompeii                                  5.6
Wall Street: Money Never Sleeps          6.3
Hop                                      5.5
Beyond Borders                           6.5
Name: imdb_score, dtype: float64

### Repeat with `.iloc`
Select a single score

In [17]:
imdb[10]

6.9

Select multiple scores with a list

In [18]:
imdb[[10, 20, 30]]

movie_title
Batman v Superman: Dawn of Justice           6.9
The Hobbit: The Battle of the Five Armies    7.5
Skyfall                                      7.8
Name: imdb_score, dtype: float64

Select multiple scores with a slice

In [19]:
imdb[3000:3050:10]

movie_title
Quartet               6.8
The Guru              5.4
Machine Gun McCain    6.2
The Blue Butterfly    6.3
Stripes               6.9
Name: imdb_score, dtype: float64

### Trouble with *just the brackets*
You can use just the brackets to make the same selections as above. See the following examples:

In [21]:
imdb['Forrest Gump']

8.8

In [22]:
imdb['Avatar':'Forrest Gump':100]

movie_title
Avatar                                   7.9
The Fast and the Furious                 6.7
Harry Potter and the Sorcerer's Stone    7.5
Epic                                     6.7
102 Dalmatians                           4.8
Pompeii                                  5.6
Wall Street: Money Never Sleeps          6.3
Hop                                      5.5
Beyond Borders                           6.5
Name: imdb_score, dtype: float64

In [20]:
imdb[[10, 20, 30]]

movie_title
Batman v Superman: Dawn of Justice    6.9
Name: imdb_score, dtype: float64

In [23]:
imdb[3000:3050:10]

movie_title
Quartet               6.8
The Guru              5.4
Machine Gun McCain    6.2
The Blue Butterfly    6.3
Stripes               6.9
Name: imdb_score, dtype: float64

# Can you spot the problem?
The major issue is that using *just the brackets* is **ambiguous** and not **explicit**. We don't know if we are selecting by label or by integer location. With **`.loc`** and **`.iloc`**, it is clear exactly what our intentions are. I suggest using **`.loc`** and **`.iloc`** for clarity.

# Comparison to Python Lists and Dictionaries
It may be helpful to compare pandas ability to make selections by label and integer location to that of Python lists and dictionaries.

Python lists allow for selection of data only through **integer location**. You can use a single integer or slice notation to make the selection but NOT a list of integers.

Letâ€™s see examples of subset selection of lists using integers:

In [24]:
a_list = [10, 5, 3, 89, 20, 44, 37]

In [25]:
a_list[4]

20

In [26]:
a_list[-3:]

[20, 44, 37]

# Selection by label with Python dictionaries
All values in each dictionary are labeled by a key. We use this key to make single selections. Dictionaries only allow selection with a single label. Slices and lists of labels are not allowed.

In [27]:
d = {'a':1, 'b':2, 't':20, 'z':26, 'A':27}
d['a']

1

In [28]:
d['A']

27

# Pandas has power of lists and dictionaries
DataFrames and Series are able to make selections with integers like a list and with labels like a dictionary.

# Exercises

### Problem 1
<span  style="color:green; font-size:16px">Read in the bikes dataset. We will be using it for the rest of the questions. Select the wind speed column as a Series and assign it to a variable and output the head. What kind of index does this Series have?</span>

In [29]:
# your code here

### Problem 2
<span  style="color:green; font-size:16px">From the wind speed Series, select the integer locations 4 through, but not including 10</span>

In [30]:
# your code here

### Problem 3
<span  style="color:green; font-size:16px">Copy and paste your answer to problem 2 below but use `.loc` instead. Do you get the same result? Why not?</span>

In [ ]:
# your code here

### Problem 4
<span  style="color:green; font-size:16px">Read in the movie dataset and set the index to be the title. Select `actor1` as a Series. Who is the `actor1` for 'My Big Fat Greek Wedding'?</span>

In [31]:
# your code here

### Problem 5
<span  style="color:green; font-size:16px">Find `actor1` for your favorite two movies?</span>

In [32]:
# your code here

### Problem 6
<span  style="color:green; font-size:16px">Select the last 10 values from `actor1` using two different ways?</span>

In [ ]:
# your code here