# 9. Regular Expressions

### Objectives
* Understand what a regular expressions are and what kind of questions they can answer
* Know that regular expressions consist of **literal** and **special** characters
* Know the basic functionality all the special characters - `. ^ $ * + ? { } [ ] \ | ( )`
* Know how to combine multiple special characters together
* Know how to change operator precedence with parentheses
* Use `contains` to select entire values and `extract` to select substrings

# Regular Expressions for more Powerful String Manipulations
**Regular Expressions** give us a way to do much more powerful string manipulations. A regular expression, or simply **regex**, is a special string that describes a specific pattern that you would like to match in another string.

### Examples of questions that regexes can answer
It might be helpful to see a list of questions that a regex pattern can match:
* Match all words that begin with 'S' and end in 'y'
* Match the word 'friend' or 'freind'
* Match a word with at least 3 digits in it
* Match all Gmail email addresses
* Capture the word immediately following the word 'Author'
* Capture the word immediately following the third occurrence of the word 'coffee'

# Primarily use `contains` and `extract`
This notebook will be primarily concerned with finding matching patterns within string values of a Pandas Series. We will then select all values within the Series that match the pattern via boolean indexing. The **`contains`** Series string method will be used for this.

At the end of this notebook, we will use the **`extract`** Series string method to extract particular substrings from the strings within the Series.

### A simple example without regular expressions
For instance, let's say we want to match all movie titles that contain either an 'x', 'y', or 'z' in them. Without using a regex, we would use multiple **`contains`** string methods separating them with the logical **or** symbol:

In [3]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv')
title = movie['title']

In [4]:
has_xyz = title.str.contains('x') | title.str.contains('y') | title.str.contains('z')
title[has_xyz].head()

9     Harry Potter and the Half-Blood Prince
21                    The Amazing Spider-Man
30                                   Skyfall
35                       Monsters University
37           Transformers: Age of Extinction
Name: title, dtype: object

We can sum up this boolean Series to determine the number of values that have either an 'x', 'y', or 'z' in them.

In [5]:
has_xyz.sum()

1193

### Use a regex instead
Instead, we can use the regex **`'[xyz]'`**, which matches the pattern for any string that contains an 'x', 'y', or 'z'. We can verify that we get the same total. This regex plus many more will be covered in detail below.

In [14]:
title.str.contains('[xyz]').sum()

1193

## Regular Expressions are a Mini-Programming Language
Regular expressions are a miniature programming language that have their own strict set of rules just like any other language. The syntax is written as a string mixing both **literal** and **special** characters. 

## Literal vs Special Characters
There are two distinct categories of characters within a regex string - **Literal** and **Special**
* **Literal** - these characters don't have any special meaning. They simply represent themselves. They are also referred to as **regular** characters.
* **Special** - these characters do have a special meaning. Each special character represents something very specific. They are also referred to as **metacharacters**.

## Matching with only Literal Characters
The most simple regex patterns you can write contain only literal characters. These strings will look like most any string you normally use in a search engine. Let's search for movies that have the word **`'Star'`** in them.

**`'Star'`** is a valid regular expression. We will use the **`contains`** Series string method which accepts a regular expression as its first argument. It returns a boolean Series.

In [6]:
pattern = 'Star'
title.str.contains(pattern).head()

0    False
1    False
2    False
3    False
4     True
Name: title, dtype: bool

### Filter for only movies containing `Star`
Let's take this resulting Series and use it for boolean indexing. The result should be the movie titles that have **`Star`** in them.

In [7]:
pattern = 'Star'
title[title.str.contains(pattern)]

4           Star Wars: Episode VII - The Force Awakens
48                             Star Trek Into Darkness
57                                    Star Trek Beyond
159                                          Star Trek
233       Star Wars: Episode III - Revenge of the Sith
234       Star Wars: Episode II - Attack of the Clones
237          Star Wars: Episode I - The Phantom Menace
306                                  Starship Troopers
593                            Star Trek: Insurrection
603                                           Stardust
740                                    Starsky & Hutch
770                                 Star Trek: Nemesis
848                                      Stargate SG-1
1058                          Star Trek: First Contact
1330                            Star Trek: Generations
1343                                         Rock Star
1396                     Star Trek: The Motion Picture
1521        Star Wars: Episode VI - Return of the Jedi
1615                   Star Trek V: The Final Frontier
1787            Star Trek VI: The Undiscovered Country
2000                     Star Trek IV: The Voyage Home
2013                        The Men Who Stare at Goats
2031    Star Wars: Episode V - The Empire Strikes Back
2367               Star Trek III: The Search for Spock
2470                 Dickie Roberts: Former Child Star
2876                   Star Trek II: The Wrath of Khan
2899                            The Fault in Our Stars
2973                Star Wars: Episode IV - A New Hope
3141                   Bucky Larson: Born to Be a Star
3271                         Star Wars: The Clone Wars
3285                                       Bright Star
3365                                     My Lucky Star
3474                        Stargate: The Ark of Truth
3672                                         Lone Star
4459                              20 Feet from Stardom
4589                                       Starsuckers
Name: title, dtype: object

## Regular Expressions are case sensitive
Regexes are case sensitive by default. **`'Star'`** only matches movie titles with an uppercase **`'S'`** followed immediately by lowercase **`'tar'`**. Let's search for lowercase **`'star'`**:

In [8]:
pattern = 'star'
title[title.str.contains(pattern)]

2641    Firestarter
2737      Superstar
Name: title, dtype: object

### Find all movies with exact string `'Star Wars'`

In [22]:
pattern = 'Star Wars'
title[title.str.contains(pattern)]

4           Star Wars: Episode VII - The Force Awakens
233       Star Wars: Episode III - Revenge of the Sith
234       Star Wars: Episode II - Attack of the Clones
237          Star Wars: Episode I - The Phantom Menace
1521        Star Wars: Episode VI - Return of the Jedi
2031    Star Wars: Episode V - The Empire Strikes Back
2973                Star Wars: Episode IV - A New Hope
3271                         Star Wars: The Clone Wars
Name: title, dtype: object

#### Find all movies with exact string `'hine'`:

In [9]:
pattern = 'hine'
title[title.str.contains(pattern)]

94         Terminator 3: Rise of the Machines
475                          The Time Machine
1302                                 Sunshine
1372                     Hot Tub Time Machine
1710                     Machine Gun Preacher
2196    Eternal Sunshine of the Spotless Mind
2778                   Hot Tub Time Machine 2
3020                       Machine Gun McCain
3301                     Little Miss Sunshine
3580                      A Shine of Rainbows
3594                           Sunshine State
3602                                    Shine
3678                        Sunshine Cleaning
3789                             Mean Machine
4448                            Shine a Light
Name: title, dtype: object

## Special Characters
The following characters are the **special** or **metacharacters**

`. ^ $ * + ? { } [ ] \ | ( )`

#### Details and examples with special characters
The rest of this notebook is devoted to examples that explain each of the special characters above. This will not be an exhaustive coverage of regular expressions as they can get quite complex. There are even entire books written on the subject.

## The dot metacharacter `.`
The **dot** or **period** is a special character that matches any character. For example the regex **`'m.le'`** will match any string that has an **`m`** followed by any character followed by **`le`**. It will match 'male', 'mile', 'mole', 'thimble', 'tumble', etc...

Let's see how many movie titles have this pattern:

In [30]:
pattern = 'm.le'
title[title.str.contains(pattern)]

661                          Mona Lisa Smile
1465                               Wimbledon
1733    Indiana Jones and the Temple of Doom
1770                           A Simple Wish
1923                             The Gambler
2019                         Ready to Rumble
2326              The Baader Meinhof Complex
2476                           A Simple Plan
3374                     Rumble in the Bronx
4711                             Tumbleweeds
Name: title, dtype: object

## The caret metacharacter `^`
The caret, **`^`** is a special character that forces the pattern to match from the beginning of the string. Let's take a look at the difference between the regexes **`War`** and **`^War`**. The first matches the word 'War' anywhere in the string. The second matches the word 'War' only at the beginning.

Let's output the differences:

In [10]:
pattern = 'War'
title[title.str.contains(pattern)].head()

4             Star Wars: Episode VII - The Force Awakens
27                            Captain America: Civil War
46                                           World War Z
64     The Chronicles of Narnia: The Lion, the Witch ...
108                                             Warcraft
Name: title, dtype: object

In [11]:
pattern = '^War'
title[title.str.contains(pattern)]

108                    Warcraft
187           War of the Worlds
597                   War Horse
1483         Warriors of Virtue
1598                Warm Bodies
1934                        War
1961                    Warrior
2878                   WarGames
3160                  War, Inc.
3431                    Warlock
3536                War & Peace
4012    Warlock: The Armageddon
Name: title, dtype: object

## The dollar metacharacter `$`
The dollar character, **`$`** works analogously to the caret but instead forces a match to the **end** of the string. Let's find all the movies that end in 'War':

In [38]:
pattern = 'War$'
title[title.str.contains(pattern)]

27              Captain America: Civil War
241             The Huntsman: Winter's War
323                     The Flowers of War
534                   Charlie Wilson's War
611                             Hart's War
666                         This Means War
1160                           Lord of War
1261                        The Art of War
1549                    Dragon Wars: D-War
1934                                   War
2867    Tae Guk Gi: The Brotherhood of War
2962                         5 Days of War
3577                            Men of War
3742                           Born of War
Name: title, dtype: object

## Start and End Anchor tags
The caret and dollar metacharacters are also know as **anchor** tags since they anchor the pattern to either the beginning or end.

## The asterisk metacharacter `*`
The **asterisk** or **star** metacharacter matches the previous character 0 or more times. For instance, the regex, **`'Ah* No'`** will look for strings that have an uppercase 'A' followed by 0 or more lowercase 'h' followed by ' No'. 

Let's see how this works on Series of fake data:

In [12]:
# Create Series of fake data
s = pd.Series(['Ouch', 'Ah No', 'Ahh', 'Nooo', 'Ahhhhhhh No', 'A No', 'A'])
s

0           Ouch
1          Ah No
2            Ahh
3           Nooo
4    Ahhhhhhh No
5           A No
6              A
dtype: object

In [13]:
pattern = 'Ah* No'
s[s.str.contains(pattern)]

1          Ah No
4    Ahhhhhhh No
5           A No
dtype: object

Without the ' No' at the end, it would match two more values:

In [14]:
pattern = 'Ah*'
s[s.str.contains(pattern)]

1          Ah No
2            Ahh
4    Ahhhhhhh No
5           A No
6              A
dtype: object

## The plus metacharacter `+`
The **plus** metacharacter is very similar to the asterisk, except that it matches 1 or more of the previous character. Thus for the regex **`'Ah+ No'`**, the 'h' must appear at least once.

In [15]:
pattern = 'Ah+ No'
s[s.str.contains(pattern)]

1          Ah No
4    Ahhhhhhh No
dtype: object

## The question mark metacharacter `?`
The question mark is similar to bot the asterisk and the star, except that it matches the previous character 0 or 1 times exactly. For instance, the regex, **`'Mea?n'`** will match both 'Mean' and 'Men'. Basically, the character before the question mark is **optional**.

In [16]:
pattern = 'Mea?n'
title[title.str.contains(pattern)]

19                                         Men in Black 3
34                                  X-Men: The Last Stand
47                             X-Men: Days of Future Past
65                                      X-Men: Apocalypse
102                                    X-Men: First Class
123                              X-Men Origins: Wolverine
151                                       Men in Black II
207                                               X-Men 2
237             Star Wars: Episode I - The Phantom Menace
348                                          Men in Black
519                                       Children of Men
520                                                 X-Men
598                                     The Monuments Men
630                                           Mystery Men
666                                        This Means War
891                                    All the King's Men
1270                                         Mean Streets
1295                                             Soul Men
1509                                       A Few Good Men
1533                                         Men of Honor
1548                                             Repo Men
1868                               No Country for Old Men
2013                           The Men Who Stare at Goats
2380                                           Mean Girls
2566                                     3 Men and a Baby
2706                                  All the Queen's Men
3152                                    Cecil B. DeMented
3190                               Fifty Dead Men Walking
3193                                    Of Horses and Men
3375                                         Far from Men
3382                                      Men with Brooms
3577                                           Men of War
3701                                      Of Gods and Men
3762                                          Without Men
3789                                         Mean Machine
3908                                    Menace II Society
4489                                             Safe Men
4628                                           Mean Creek
4634    Deceptive Practice: The Mysteries and Mentors ...
4706                                         12 Angry Men
4885                                In the Company of Men
Name: title, dtype: object

## The curly braces metacharacter `{m, n}`
The curly braces metacharacter matches the previous character a given number of times. There are three different ways to use the curly braces:

* a single integer **`a{3}`**
* a single integer followed by a comma **`a{3,}`**
* two integers separated by a comma **`a{3,5}`**

**`a{3}`** matches exactly three consecutive a's. **`a{3,}`** matchces 3 or more consecutive a's. **`a{3,5}`** matches between 3 and 5 consecutive a's.

Let's create another Series by hand and match all the strings that begin with 'A', have the letter 'h' repeat between 2 and 5 times and then followed by ' No'.

In [17]:
s = pd.Series(['Ouch', 'Ahhh No', 'Ahh No', 'Nooo', 'Ahhhhhhh No', 'A No', 'A', 'Ahhh'])
s

0           Ouch
1        Ahhh No
2         Ahh No
3           Nooo
4    Ahhhhhhh No
5           A No
6              A
7           Ahhh
dtype: object

In [18]:
pattern = 'Ah{2,5} No'
s[s.str.contains(pattern)]

1    Ahhh No
2     Ahh No
dtype: object

## The pipe metacharacter `|`
The pipe metacharacter is equivalent to an **or** condition. It matches the entire word before or after the pipe. The regex **`'Friend|Enemy'`** matches any string with 'Friend' or 'Enemy' in it.

In [19]:
pattern = 'Friend|Enemy'
title[title.str.contains(pattern)]

403                            Enemy of the State
408                            Enemy at the Gates
1055                     My Best Friend's Wedding
1214                           Behind Enemy Lines
1413                        Friends with Benefits
1775        How to Lose Friends & Alienate People
2216                        My Best Friend's Girl
3116    Seeking a Friend for the End of the World
3495                           Friends with Money
4184                          We Are Your Friends
4279                        Dysfunctional Friends
4670                               Mutual Friends
Name: title, dtype: object

You can add as many pipes as you please:

In [20]:
pattern = 'Friend|Enemy|Good|Evil'
title[title.str.contains(pattern)].head()

55              The Good Dinosaur
343        A Good Day to Die Hard
403            Enemy of the State
408            Enemy at the Gates
670    Resident Evil: Retribution
Name: title, dtype: object

## The brackets metacharacter `[ ]`
The brackets metacharacter allows you match one of several characters at single particular position. As we saw with the very fist example, **`'[xyz]'`** matches any single 'x', 'y', or 'z'.

Another example, **`'T[aeiou]d'`** matches any words that begin with 'T', followed by exactly one vowel and then 'd'. The brackets contain all the possible matches for a single character.

Concretely, it matches the following: 'Tad', 'Ted', 'Tid', 'Tod', and 'Tud'.

In [25]:
pattern = 'T[aeiou]d'
title[title.str.contains(pattern)]

18      Pirates of the Caribbean: On Stranger Tides
628                                           Ted 2
841                                    Crimson Tide
922                                             Ted
1594                            The Prince of Tides
2016                  Win a Date with Tad Hamilton!
2171                     Bill & Ted's Bogus Journey
2576                                     Tidal Wave
3053               Bill & Ted's Excellent Adventure
4283        Living Dark: The Story of Ted the Caver
4809                                        Tadpole
Name: title, dtype: object

### Entire character classes with the brackets
Let's say you want to match all the lowercase letters 'a' through 'z'. You could write each letter within the brackets. Thankfully, there is a much easier way with **character classes**.

Character classes are special notation within the brackets that can be used to denote entire subsets of characters. Take the following:
* **`'[0-9]'`** represents all digits 0 through 9
* **`'[a-z]'`** represents all lowercase letters
* **`'[A-Z]'`** represents all uppercase letters
* **`'[a-zA-Z]'`** represents all lowercase and uppercase letters

### Digits in movies
Let's match all movies with a digit in them.

In [154]:
pattern = '[0-9]'
title[title.str.contains(pattern)].head()

6                 Spider-Man 3
19              Men in Black 3
31                Spider-Man 2
32                  Iron Man 3
39    The Amazing Spider-Man 2
Name: title, dtype: object

### Matching movies with 2 digits in a row
We can match movies with two digits in a row by using the digits character class twice.

In [156]:
pattern = '[0-9][0-9]'
title[title.str.contains(pattern)].head()

60                            2012
85                        47 Ronin
212               The 13th Warrior
258         300: Rise of an Empire
268    Around the World in 80 Days
Name: title, dtype: object

## Combining Special Characters
You are allowed to combine any number of literal and special characters together with your regex. For instance, matching movies with two or more digits in a row could have been done by using the curly braces for repeats like this:

In [157]:
pattern = '[0-9]{2,}'
title[title.str.contains(pattern)].head()

60                            2012
85                        47 Ronin
212               The 13th Warrior
258         300: Rise of an Empire
268    Around the World in 80 Days
Name: title, dtype: object

#### Find all movies that begin with exactly 4 digits in a row
We can use the caret to anchor the digits to the start and the curly braces to match exactly 4 digits.

In [162]:
pattern = '^[0-9]{4}'
title[title.str.contains(pattern)].head()

60                         2012
697     3000 Miles to Graceland
1541                       1941
1707                       1911
2056                       1408
Name: title, dtype: object

#### Find all movies that begin with 'The' and end with 'Movie'
We anchor 'The' to the beginning with the caret and 'Movie' to the end with the dollar symbol. We use **`.*`** in the middle to represent any character repeated 0 or more times.

In [168]:
pattern = '^The .* Movie$'
title[title.str.contains(pattern)]

319                                     The Peanuts Movie
561                                 The Angry Birds Movie
569                                    The Simpsons Movie
759                                        The Lego Movie
1586                      The SpongeBob SquarePants Movie
1734                                    The Rugrats Movie
1895                           The Wild Thornberrys Movie
2162                                     The Tigger Movie
2593                             The Lizzie McGuire Movie
2645    The Pirates Who Don't Do Anything: A VeggieTal...
3296                                     The Muppet Movie
4597                             The Kentucky Fried Movie
Name: title, dtype: object

#### Find all movies that are exactly 10 characters long
**`.{10}`** matches exactly any 10 characters in a row. We must anchor it to the beginning and end to ensure that the string is exactly 10 characters in length.

In [176]:
pattern = '^.{10}$'
title[title.str.contains(pattern)].head()

22    Robin Hood
28    Battleship
32    Iron Man 3
76    Waterworld
78    Inside Out
Name: title, dtype: object

## More Complex Character Classes
Special characters lose their special meaning within the brackets. For instance, **`[.]`** matches the literal dot and **`[()*$]`** matches any string with the literal parentheses, asterisk, or dollar sign.

Let's match movies with an asterisk in them:

In [35]:
pattern = '[*]'
title[title.str.contains(pattern)]

3828                         What the #$*! Do We (K)now!?
3902                                              M*A*S*H
4162    Everything You Always Wanted to Know About Sex...
Name: title, dtype: object

Match movies with either an asterisk or dollar sign.

In [50]:
pattern = '[*$]'
title[title.str.contains(pattern)]

3466                                                 Ca$h
3828                         What the #$*! Do We (K)now!?
3902                                              M*A*S*H
4162    Everything You Always Wanted to Know About Sex...
Name: title, dtype: object

### Exclude characters with caret
It is possible to exclude character sets by putting a caret as the first character inside the brackets. For instance, **`Z[^aeiou]`** find match strings that begin have 'Z' followed by a non-vowel.

In [91]:
pattern = 'Z[^aeiou]'
title[title.str.contains(pattern)]

2975                      Doctor Zhivago
3469                             Z Storm
4511    ZMD: Zombies of Mass Destruction
4679                  Dogtown and Z-Boys
Name: title, dtype: object

Find all movies that have an uppercase 'T' followed by a non-lowercase letter.

In [94]:
pattern = 'T[^a-z]'
title[title.str.contains(pattern)]

40                              TRON: Legacy
585                                 S.W.A.T.
1411                                    TMNT
1540    The Young and Prodigious T.S. Spivet
2473                                     ATL
2573                   Scream: The TV Series
2994                                F.I.S.T.
3028              E.T. the Extra-Terrestrial
Name: title, dtype: object

## The backslash `\` metacharacter
The backslash metacharacter is used in conjunction with the very next character to change its meaning.

* `\d` - all digits, equivalent to `[0-9]`
* `\D` - any non-digit.
* `\s` - any amount of whitespace including normal spaces and tabs
* `\S` - any non-whitespace
* `\w` - any 'word' character, which is any upper or lowercase letter, digit or underscore. Equivalent to `[A-Za-z0-9_]`
* `\W` - any non-word character

For instance, **`^\W`** matches all strings that begin with a non-word character.

### Prefix the string with `r` to make it a raw string

The backslash is a special character in normal Python strings. **`\n`** represents a newline character, **`\t`** represents a tab. To be sure your regex is exactly what you see, its best to use **raw** Python strings. Prepend the string with an r outside of the quotation marks to make it a raw string. Python will treat the backslash as a literal backslash without any special meaning.

In [102]:
pattern = r'^\W+'
title[title.str.contains(pattern)]

3597    [Rec] 2
4152      [Rec]
4349    #Horror
Name: title, dtype: object

### Backslash escapes special characters
As we just saw, the special characters lose their special ability within the brackets. Preceding a special character by a backslash has the same effect. For instance **`\*`** represents a literal asterisk and is the same as **`[*]`**

In [108]:
pattern = r'\*'
title[title.str.contains(pattern)]

3828                         What the #$*! Do We (K)now!?
3902                                              M*A*S*H
4162    Everything You Always Wanted to Know About Sex...
Name: title, dtype: object

## The parentheses metacharacters `( )`
The parentheses metacharacters are used to **group** together parts of the regular expression. For instance, let's say we want to find all movies that begin with the word 'In' or 'My'. You might think about using **`'^In|My'`**:

In [246]:
pattern = '^In|My'
title[title.str.contains(pattern)].head(10)

54     Indiana Jones and the Kingdom of the Crystal S...
78                                            Inside Out
92                          Independence Day: Resurgence
96                                          Interstellar
97                                             Inception
253                                            Insurgent
316                              In the Heart of the Sea
504                     Journey 2: The Mysterious Island
516                                     Independence Day
527                                     Inspector Gadget
Name: title, dtype: object

### The meaning of `^In|My`
There are a couple things wrong with this regex. First, we are getting movies that begin with words that begin with 'In' such as 'Indiana' or 'Inside' instead of the just the word 'In'.

Second, the movie, 'Journey 2: The Mysterious Island' has 'My' within the name and not at the beginning. This mistake is happening because of **operator precedence** within the regex. 

`^In|My` matches movies that begin with the letters 'In' or have 'My' anywhere inside it. The caret is only anchoring 'In'.

## Using parentheses to group
We can use parentheses to change the operator precedence just how we do in mathematical expressions. Let's modify our expression to `'^(In|My)'`

In [110]:
pattern = '^(In|My)'
title[title.str.contains(pattern)].head(15)

/Users/Ted/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

54     Indiana Jones and the Kingdom of the Crystal S...
78                                            Inside Out
92                          Independence Day: Resurgence
96                                          Interstellar
97                                             Inception
253                                            Insurgent
316                              In the Heart of the Sea
516                                     Independence Day
527                                     Inspector Gadget
582                                 Inglourious Basterds
630                                          Mystery Men
764                                             Invictus
767                                  My Favorite Martian
771                                  Intolerable Cruelty
796                                             Inkheart
Name: title, dtype: object

### Getting closer
We grouped `In|My` together so the movie must begin with them. We are still lacking a space after them. We can do this with three slightly different regexes
* `'^(In|My)\s'`
* `'^(In|My) '`
* `'^(In |My )'`

The `\s` matches any number of whitespaces.

In [114]:
pattern = r'^(In|My)\s'
title[title.str.contains(pattern)].head(15)

/Users/Ted/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

316                           In the Heart of the Sea
767                               My Favorite Martian
799     In the Name of the King: A Dungeon Siege Tale
1055                         My Best Friend's Wedding
1405                                         In & Out
1428                                          In Time
1660                           My Super Ex-Girlfriend
1685                                        In Dreams
1781                               My Sister's Keeper
1832                                  In Good Company
1945                                  My Soul to Take
2049                            In the Valley of Elah
2104                              My Fellow Americans
2216                            My Best Friend's Girl
2375                       My Big Fat Greek Wedding 2
Name: title, dtype: object

### Why are we getting `UserWarning: This pattern has match groups`?
Besides operator precedence, grouping has an alternative function and that is to extract specific text from a string. In regex terminology, we call this a **capturing group**. This warning is alerting us that we have used a capture group and if we wanted to extract this group then we should be using the **`extract`** string method.

### Specifying a non-capturing group
Our regular expression is valid the way it is. We can signal inside of our regular expression that this is a **non-capturing group** by placing a **`?:`** as the first two characters inside of the parentheses. This will eliminate the warning.

In [116]:
pattern = r'^(?:In|My)\s'
title[title.str.contains(pattern)].head(15)

316                           In the Heart of the Sea
767                               My Favorite Martian
799     In the Name of the King: A Dungeon Siege Tale
1055                         My Best Friend's Wedding
1405                                         In & Out
1428                                          In Time
1660                           My Super Ex-Girlfriend
1685                                        In Dreams
1781                               My Sister's Keeper
1832                                  In Good Company
1945                                  My Soul to Take
2049                            In the Valley of Elah
2104                              My Fellow Americans
2216                            My Best Friend's Girl
2375                       My Big Fat Greek Wedding 2
Name: title, dtype: object

## Using capture groups with the `extract` string method
We can use the exact same pattern with the **`extract`** string method to extract the group.

In [117]:
pattern = r'^(In|My)\s'
title.str.extract(pattern).head()

     0
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN

### Why are all the values missing?
Only a small fraction of the movie titles begin with 'In' or 'My'. Let's drop the missing values and see the extracted text:

In [118]:
pattern = '^(In|My)\s'
title.str.extract(pattern).dropna().head()

       0
316   In
767   My
799   In
1055  My
1405  In

### Extracting the fourth word of movie titles that begin with 'In' or 'My'
Let's try something a bit more complex and extract the fourth word of all movies that begin with the words 'In' or 'My'. For instance, the movie, 'In the Heart of the Sea' meets our criteria. The word 'of' would be extracted from it.

To accomplish this, we need to match movies that begin with 'In' or 'My' and then match two words, before capturing the fourth word.

We already saw that `^(?:In|My)` completes the first part of this task. We can then add on `(?:\s\S+){2}` which is a non-capturing group that matches a space followed by one or more non-space characters. We use `{2}` to match two of these in a row. We then need to match one more space and then capture the next word. We do this with `\s(\S+)`.

Remember, only the matched text in the parentheses is extracted. The parentheses that begin with `?:` are also not extracted.

In [119]:
pattern = r'^(?:In|My)(?:\s\S+){2}\s(\S+)'
title.str.extract(pattern).dropna()

                0
316            of
799            of
1055      Wedding
1945         Take
2049           of
2216         Girl
2375        Greek
2483        Ruins
2535           an
2843           of
3029           of
3100      Marilyn
3286         Khan
3666        Greek
3937           of
4044  Independent
4100        Idaho
4108           Me
4159           of
4197           of
4289         Love
4332        Bruce
4499           of
4514      Without
4885           of
4915         Drew

### `extract` must have capture groups
The regex used with the **`extract`** string method must have capture groups. If not, an error will be raised.


### Multiple capture groups for `extract`
You can capture more than one group with **`extract`**. Take a look at the following regex which captures the first word after a movie that begins with 'The' and the first word after 'of'.

In [151]:
pattern = r'^The (\S+) .*of (\S+)'
title.str.extract(pattern).dropna().head()

             0        1
16  Chronicles  Narnia:
20     Hobbit:      the
23     Hobbit:    Smaug
63      Legend   Tarzan
64  Chronicles  Narnia:

## Many other string methods take regexes
You can use regular expressions in several other Series string methods such as **`count`**, **`replace`** and **`split`**. For instance, the following counts the times consecutive lowercase vowels appear for each string. We then find the maximum number of times this happens within the movie titles.

In [167]:
title.str.count('[aeiou]{2}').max()

4

# Other Flavors of Regex
Regular expressions are not quite standardized for every single programming language, so you will need to ensure you are implementing the right 'flavor' for each language.

# More to Regex
There is a lot more to regular expressions that was no covered in this notebook. 

* [Official Python Documentation][1]
* [Thorough Online Tutorial][2]
* [Practice with explanations][3] - make sure to choose Python

[1]: https://docs.python.org/3/howto/regex.html
[2]: https://www.regular-expressions.info/
[3]: https://regex101.com/

# Regex Summary
* Literal characters represent themselves
* Special or metacharacters represent something entirely different
* Primarily usage of regex is to either match a particular string or extract a substring
* Many Pandas string methods accept regular expressions but you will primarily be using **`contains`** and **`extract`**
* Use raw Python strings when writing regex. Raw strings have 'r' prepended to them.

### Metacharacter Summary
`. ^ $ * + ? { } [ ] \ | ( )`
* `.` - Matches any character
* `^` - Anchors next characters to beginning
* `$` - Anchors previous characters to end
* `*` - Matches 0 or more occurrences of previous character
* `+` - Matches 1 or more occurrences of previous character
* `?` - Matches 0 or 1 occurrences of previous character
* `{m}`, `{m,}`, `{m,n}` Matches m, m or more, between m and n repeats of previous character
* `[]` - A character set to match one out of many characters. `[aeiou]` matches a single vowel
* `[a-z]`, `[A-Z]`, `[0-9]` - Character sets for lowercase, uppercase, and digits
* `[^abc]` - Use caret at beginning of bracket to match anything but these characters
* `\` - backslash changes meaning of next character
* `\s` - whitespace
* `\S` - non-whitespace
* `\w` - lower/uppercase and underscore
* `\W` - everything but `\w`
* `\d` - digits
* `\D` - non-digits
* `\.` - Escapes all special characters such as literal dot here. 
* `|` - Or clause. Matches when either left or right set of characters match. `cat|dog` matches either 'cat' or 'dog'
* `()` - Groups together parts of regex like mathematical parentheses to achieve different operator precedence
* `()` - Also represents capture groups for extracting text. Use `(?:)` to signal non-capturing group.

# Exercises

### Problem 1
<span  style="color:green; font-size:16px">Find all movies that begin with 'The' followed by the next word that begins with digits.</span>

In [216]:
# your code here

### Problem 2
<span  style="color:green; font-size:16px">For all movies that begin with 'The' and are followed by the next word that begins with a digit, extract just the digits part of this word.</span>

In [217]:
# your code here

### Problem 3
<span  style="color:green; font-size:16px">Find all movies that have three consecutive capital letters in them.</span>

In [218]:
# your code here

### Problem 4
<span  style="color:green; font-size:16px">Find all movies that have two separate numbers in them. An example would be, '7 days and 7 nights'.</span>

In [219]:
# your code here

### Problem 5
<span  style="color:green; font-size:16px">Find all movies that have begin and end with a capital letter.</span>

In [220]:
# your code here

### Problem 6
<span  style="color:green; font-size:16px">Find all the movies that have 6 or more non-vowel and non-space characters in a row.</span>

In [221]:
# your code here

### Problem 7
<span  style="color:green; font-size:16px">Find all the movies that have a digit followed by a comma followed by a digit.</span>

In [222]:
# your code here

### Problem 8
<span  style="color:green; font-size:16px">Find all the movies that have either an ampersand or a question mark in them.</span>

In [223]:
# your code here

### Problem 9
<span  style="color:green; font-size:16px">Which movie has the most ampersands, question marks, and periods in it?</span>

In [224]:
# your code here

### Problem 10
<span  style="color:green; font-size:16px">Extract the very next character after 't' or 'T' for each movie.</span>

In [225]:
# your code here

### Problem 11
<span  style="color:green; font-size:16px">What is the most common character after 't' or 'T'?</span>

In [226]:
# your code here

### Problem 13
<span style="color:green; font-size:16px">Extract all the words that begin with 'T' or 't' and end in 'e' then find their frequency. Research the word boundaray special character.</span>

In [ ]:
# your code here