# NOTES DURING CLASS - DAY ONE - CHAPTER 2

In [39]:
import pandas as pd

emp = pd.read_csv('../data/employee.csv', parse_dates=['hire_date'])
emp.head()

,title,dept,salary,race,gender,hire_date
0,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Male,2015-02-03
1,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Male,1982-02-08
2,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black,Male,1984-11-26
3,ENGINEER,Public Works & Engineering-PWE,71680.0,Asian,Male,2012-03-26
4,CARPENTER,Houston Airport System (HAS),42390.0,White,Male,2013-11-04

In [40]:
sal = emp['salary']
sal.head()

0    45279.0
1    63166.0
2    66614.0
3    71680.0
4    42390.0
Name: salary, dtype: float64

In [41]:
len(sal)

1653

# VECTORIZATION - DO NOT NEED A LOOP TO ITERATE

In [43]:
sal + 10000 #adding 10000 in everyone salary

0        55279.0
1        73166.0
2        76614.0
3        81680.0
4        52390.0
5       117962.0
6        54616.0
7        62644.0
8       190416.0
9        40347.0
10       65269.0
11       87076.0
12           NaN
13           NaN
14       91239.0
15       76614.0
16       71506.0
17       67815.0
18       53264.0
19       65437.0
20       62514.0
21       71643.0
22           NaN
23       76614.0
24       91239.0
25       39557.0
26       72540.0
27       38024.0
28       71921.0
29       76614.0
          ...
1623     57996.0
1624     88286.0
1625     75338.0
1626         NaN
1627     76614.0
1628     55279.0
1629     73166.0
1630     87325.0
1631     76614.0
1632     42157.0
1633     55279.0
1634     37914.0
1635     76614.0
1636         NaN
1637     80181.0
1638     65437.0
1639     71921.0
1640     87076.0
1641         NaN
1642     47211.0
1643     40347.0
1644     54429.0
1645     39286.0
1646     91239.0
1647    114455.0
1648     53443.0
1649     76523.0
1650     53443.0
1651     65461.0
1652     61194.0
Name: salary, Length: 1653, dtype: float64

In [17]:
sal ** 2 # root square

0       2.050188e+09
1       3.989944e+09
2       4.437425e+09
3       5.138022e+09
4       1.796912e+09
5       1.165579e+10
6       1.990587e+09
7       2.771391e+09
8       3.254993e+10
9       9.209404e+08
10      3.054662e+09
11      5.940710e+09
12               NaN
13               NaN
14      6.599775e+09
15      4.437425e+09
16      3.782988e+09
17      3.342574e+09
18      1.871774e+09
19      3.073261e+09
20      2.757720e+09
21      3.799859e+09
22               NaN
23      4.437425e+09
24      6.599775e+09
25      8.736162e+08
26      3.911252e+09
27      7.853446e+08
28      3.834210e+09
29      4.437425e+09
            ...
1623    2.303616e+09
1624    6.128698e+09
1625    4.269054e+09
1626             NaN
1627    4.437425e+09
1628    2.050188e+09
1629    3.989944e+09
1630    5.979156e+09
1631    4.437425e+09
1632    1.034073e+09
1633    2.050188e+09
1634    7.791914e+08
1635    4.437425e+09
1636             NaN
1637    4.925373e+09
1638    3.073261e+09
1639    3.834210e+09
1640    5.940710e+09
1641             NaN
1642    1.384659e+09
1643    9.209404e+08
1644    1.973936e+09
1645    8.576698e+08
1646    6.599775e+09
1647    1.091085e+10
1648    1.887294e+09
1649    4.425310e+09
1650    1.887294e+09
1651    3.075923e+09
1652    2.620826e+09
Name: salary, Length: 1653, dtype: float64

In [16]:
sal // 13 # floor division, return the int part

0        3483.0
1        4858.0
2        5124.0
3        5513.0
4        3260.0
5        8304.0
6        3432.0
7        4049.0
8       13878.0
9        2334.0
10       4251.0
11       5928.0
12          NaN
13          NaN
14       6249.0
15       5124.0
16       4731.0
17       4447.0
18       3328.0
19       4264.0
20       4039.0
21       4741.0
22          NaN
23       5124.0
24       6249.0
25       2273.0
26       4810.0
27       2155.0
28       4763.0
29       5124.0
         ...
1623     3692.0
1624     6022.0
1625     5026.0
1626        NaN
1627     5124.0
1628     3483.0
1629     4858.0
1630     5948.0
1631     5124.0
1632     2473.0
1633     3483.0
1634     2147.0
1635     5124.0
1636        NaN
1637     5398.0
1638     4264.0
1639     4763.0
1640     5928.0
1641        NaN
1642     2862.0
1643     2334.0
1644     3417.0
1645     2252.0
1646     6249.0
1647     8035.0
1648     3341.0
1649     5117.0
1650     3341.0
1651     4266.0
1652     3938.0
Name: salary, Length: 1653, dtype: float64

In [18]:
sal % 2 == 0 # modulos operation

0       False
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9       False
10      False
11       True
12      False
13      False
14      False
15       True
16       True
17      False
18       True
19      False
20       True
21      False
22      False
23       True
24      False
25      False
26       True
27       True
28      False
29       True
        ...
1623     True
1624     True
1625     True
1626    False
1627     True
1628    False
1629     True
1630    False
1631     True
1632    False
1633    False
1634     True
1635     True
1636    False
1637    False
1638    False
1639    False
1640     True
1641    False
1642    False
1643    False
1644    False
1645     True
1646    False
1647    False
1648    False
1649    False
1650    False
1651    False
1652     True
Name: salary, Length: 1653, dtype: bool

In [44]:
sal.between(5000,6000).head()

0    False
1    False
2    False
3    False
4    False
Name: salary, dtype: bool

# DESCRIPTIVE STATISTICS

* Aggregating Methodes - many values -> summarazy all the values in one
    * min
    * max
    * sum
    
* Non-Aggregating Methodes - cannot aggregate (square root for example, need do for each one)
    * round
    * abs
    * cummin
    
    
IN PYTHON you can assign methods to variables

In [21]:
sal.min()

24960.0

In [22]:
sal.max()

210588.0

In [29]:
sal.round(-3).head() #get a series with my numbers rounded

0    45000.0
1    63000.0
2    67000.0
3    72000.0
4    42000.0
Name: salary, dtype: float64

In [32]:
sal.round().head() #values without round

0    45279.0
1    63166.0
2    66614.0
3    71680.0
4    42390.0
Name: salary, dtype: float64

In [34]:
sal.abs().head()

0    45279.0
1    63166.0
2    66614.0
3    71680.0
4    42390.0
Name: salary, dtype: float64

In [36]:
sal.cummin().head() #it is a current minimum, starting from the top

0    45279.0
1    45279.0
2    45279.0
3    45279.0
4    42390.0
Name: salary, dtype: float64

In [38]:
sal.cummax().head() # it is a current maximum, starting from the top)

0    45279.0
1    63166.0
2    66614.0
3    71680.0
4    71680.0
Name: salary, dtype: float64

In [45]:
## Operations on a boolean series

* False is 0
* True is 1

In [46]:
sal_100k = sal>100000
sal_100k.head()

0    False
1    False
2    False
3    False
4    False
Name: salary, dtype: bool

In [49]:
sal_100k.sum() #the number of things that is inside of the criteria

36

In [51]:
sal_100k.mean() #porcentage that meat the criteria

0.021778584392014518

In [52]:
sal_100k.sum() / len(sal_100k) #the mean is the same than this

0.021778584392014518

In [58]:
movie = pd.read_csv('../data/movie.csv', index_col='title')

In [59]:
score = movie['imdb_score'].head(10)
score

title
Avatar                                        7.9
Pirates of the Caribbean: At World's End      7.1
Spectre                                       6.8
The Dark Knight Rises                         8.5
Star Wars: Episode VII - The Force Awakens    7.1
John Carter                                   6.6
Spider-Man 3                                  6.2
Tangled                                       7.8
Avengers: Age of Ultron                       7.5
Harry Potter and the Half-Blood Prince        7.5
Name: imdb_score, dtype: float64

In [61]:
score.rank() #rank so your lowest receive 1, use average if has repeated number

title
Avatar                                         9.0
Pirates of the Caribbean: At World's End       4.5
Spectre                                        3.0
The Dark Knight Rises                         10.0
Star Wars: Episode VII - The Force Awakens     4.5
John Carter                                    2.0
Spider-Man 3                                   1.0
Tangled                                        8.0
Avengers: Age of Ultron                        6.5
Harry Potter and the Half-Blood Prince         6.5
Name: imdb_score, dtype: float64

In [63]:
score.rank(ascending=False) #number one is the biggest ranked

title
Avatar                                         2.0
Pirates of the Caribbean: At World's End       6.5
Spectre                                        8.0
The Dark Knight Rises                          1.0
Star Wars: Episode VII - The Force Awakens     6.5
John Carter                                    9.0
Spider-Man 3                                  10.0
Tangled                                        3.0
Avengers: Age of Ultron                        4.5
Harry Potter and the Half-Blood Prince         4.5
Name: imdb_score, dtype: float64

In [64]:
score.rank(ascending=False, method='dense')

title
Avatar                                        2.0
Pirates of the Caribbean: At World's End      5.0
Spectre                                       6.0
The Dark Knight Rises                         1.0
Star Wars: Episode VII - The Force Awakens    5.0
John Carter                                   7.0
Spider-Man 3                                  8.0
Tangled                                       3.0
Avengers: Age of Ultron                       4.0
Harry Potter and the Half-Blood Prince        4.0
Name: imdb_score, dtype: float64

In [65]:
score.sort_values()

title
Spider-Man 3                                  6.2
John Carter                                   6.6
Spectre                                       6.8
Pirates of the Caribbean: At World's End      7.1
Star Wars: Episode VII - The Force Awakens    7.1
Avengers: Age of Ultron                       7.5
Harry Potter and the Half-Blood Prince        7.5
Tangled                                       7.8
Avatar                                        7.9
The Dark Knight Rises                         8.5
Name: imdb_score, dtype: float64

In [67]:
score.rank(ascending=False,method='dense').sort_values()

title
The Dark Knight Rises                         1.0
Avatar                                        2.0
Tangled                                       3.0
Avengers: Age of Ultron                       4.0
Harry Potter and the Half-Blood Prince        4.0
Pirates of the Caribbean: At World's End      5.0
Star Wars: Episode VII - The Force Awakens    5.0
Spectre                                       6.0
John Carter                                   7.0
Spider-Man 3                                  8.0
Name: imdb_score, dtype: float64

# NOTEBOOK 2 - SERIES METHODS MORE

In [68]:
score.isna().sum()

0

In [73]:
sal.dropna().head(15)

0      45279.0
1      63166.0
2      66614.0
3      71680.0
4      42390.0
5     107962.0
6      44616.0
7      52644.0
8     180416.0
9      30347.0
10     55269.0
11     77076.0
14     81239.0
15     66614.0
16     61506.0
Name: salary, dtype: float64

In [74]:
sal.fillna(9999999).head(15)

0       45279.0
1       63166.0
2       66614.0
3       71680.0
4       42390.0
5      107962.0
6       44616.0
7       52644.0
8      180416.0
9       30347.0
10      55269.0
11      77076.0
12    9999999.0
13    9999999.0
14      81239.0
Name: salary, dtype: float64

In [76]:
sal.mean()

56094.97356544165

In [77]:
sal.fillna(sal.mean()).head()

0    45279.0
1    63166.0
2    66614.0
3    71680.0
4    42390.0
Name: salary, dtype: float64

In [80]:
len(sal) - sal.count()

102

In [82]:
score.sort_values(ascending=False) #Highest score

title
The Dark Knight Rises                         8.5
Avatar                                        7.9
Tangled                                       7.8
Harry Potter and the Half-Blood Prince        7.5
Avengers: Age of Ultron                       7.5
Star Wars: Episode VII - The Force Awakens    7.1
Pirates of the Caribbean: At World's End      7.1
Spectre                                       6.8
John Carter                                   6.6
Spider-Man 3                                  6.2
Name: imdb_score, dtype: float64

In [83]:
score.sort_index(ascending=False)

title
The Dark Knight Rises                         8.5
Tangled                                       7.8
Star Wars: Episode VII - The Force Awakens    7.1
Spider-Man 3                                  6.2
Spectre                                       6.8
Pirates of the Caribbean: At World's End      7.1
John Carter                                   6.6
Harry Potter and the Half-Blood Prince        7.5
Avengers: Age of Ultron                       7.5
Avatar                                        7.9
Name: imdb_score, dtype: float64

In [84]:
score.sort_index(ascending=True)

title
Avatar                                        7.9
Avengers: Age of Ultron                       7.5
Harry Potter and the Half-Blood Prince        7.5
John Carter                                   6.6
Pirates of the Caribbean: At World's End      7.1
Spectre                                       6.8
Spider-Man 3                                  6.2
Star Wars: Episode VII - The Force Awakens    7.1
Tangled                                       7.8
The Dark Knight Rises                         8.5
Name: imdb_score, dtype: float64

In [85]:
score.max()

8.5

In [86]:
score.idxmax() #index of the maximum use idxmax or idxmin

'The Dark Knight Rises'

In [87]:
score.idxmin()

'Spider-Man 3'

In [88]:
score.min()

6.2

In [89]:
score.unique() #unique score, numpy array

array([7.9, 7.1, 6.8, 8.5, 6.6, 6.2, 7.8, 7.5])

In [90]:
score.nunique() #number of unique values

8

In [91]:
len(score.unique())

8

# CHAPTER 3 - STRINGS SERIES METHODS

In [92]:
import pandas as pd

emp = pd.read_csv('../data/employee.csv', parse_dates=['hire_date'])
emp.head()

,title,dept,salary,race,gender,hire_date
0,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Male,2015-02-03
1,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Male,1982-02-08
2,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black,Male,1984-11-26
3,ENGINEER,Public Works & Engineering-PWE,71680.0,Asian,Male,2012-03-26
4,CARPENTER,Houston Airport System (HAS),42390.0,White,Male,2013-11-04

In [93]:
dept = emp['dept']
dept.head()

0     Houston Police Department-HPD
1     Houston Fire Department (HFD)
2     Houston Police Department-HPD
3    Public Works & Engineering-PWE
4      Houston Airport System (HAS)
Name: dept, dtype: object

In [95]:
dept.median() #error because is string

TypeError: could not convert string to float: 'Houston Fire Department (HFD)'

In [96]:
dept.value_counts() 
#count the number of occurrencies organize from highest to lowest

Houston Police Department-HPD     638
Houston Fire Department (HFD)     384
Public Works & Engineering-PWE    343
Health & Human Services           108
Houston Airport System (HAS)      106
Parks & Recreation                 74
Name: dept, dtype: int64

In [97]:
dept.value_counts(normalize=True) 
#get the percentage of the occurencie

Houston Police Department-HPD     0.385965
Houston Fire Department (HFD)     0.232305
Public Works & Engineering-PWE    0.207502
Health & Human Services           0.065336
Houston Airport System (HAS)      0.064126
Parks & Recreation                0.044767
Name: dept, dtype: float64

In [98]:
dept.value_counts(normalize=True).round(2)

Houston Police Department-HPD     0.39
Houston Fire Department (HFD)     0.23
Public Works & Engineering-PWE    0.21
Health & Human Services           0.07
Houston Airport System (HAS)      0.06
Parks & Recreation                0.04
Name: dept, dtype: float64

In [100]:
sal.value_counts() #works with numeric values

66614.0     157
55461.0      68
81239.0      59
62540.0      38
47650.0      37
70181.0      31
60347.0      30
66523.0      29
63166.0      29
26125.0      28
61643.0      26
55437.0      24
61921.0      22
51194.0      22
40170.0      22
43528.0      19
30347.0      16
42000.0      16
48190.0      16
78355.0      15
61226.0      15
45791.0      14
45279.0      14
77076.0      14
52644.0      14
28024.0      13
50621.0      13
43443.0      13
89590.0      12
91181.0      11
           ...
27102.0       1
43722.0       1
58040.0       1
80791.0       1
43888.0       1
102297.0      1
36150.0       1
128606.0      1
43597.0       1
103427.0      1
55806.0       1
32906.0       1
96668.0       1
96157.0       1
54607.0       1
44970.0       1
46675.0       1
61589.0       1
44658.0       1
59613.0       1
53832.0       1
30493.0       1
73635.0       1
27414.0       1
45906.0       1
49275.0       1
70565.0       1
52333.0       1
37606.0       1
48651.0       1
Name: salary, Length: 553, dtype: int64

In [102]:
dept.str.upper().head()
#only available to string methods

0     HOUSTON POLICE DEPARTMENT-HPD
1     HOUSTON FIRE DEPARTMENT (HFD)
2     HOUSTON POLICE DEPARTMENT-HPD
3    PUBLIC WORKS & ENGINEERING-PWE
4      HOUSTON AIRPORT SYSTEM (HAS)
Name: dept, dtype: object

In [105]:
dept.str.count('es').head() #this str is called ascessor

0    0
1    0
2    0
3    0
4    0
Name: dept, dtype: int64

In [108]:
dept.str.contains('es').head()

0    False
1    False
2    False
3    False
4    False
Name: dept, dtype: bool

In [110]:
emp.dtypes

title                object
dept                 object
salary              float64
race                 object
gender               object
hire_date    datetime64[ns]
dtype: object

In [112]:
hire_date = emp['hire_date']
hire_date.head()

0   2015-02-03
1   1982-02-08
2   1984-11-26
3   2012-03-26
4   2013-11-04
Name: hire_date, dtype: datetime64[ns]

In [115]:
hire_date.dt.day_name().head()
# works specifically to date time

0    Tuesday
1     Monday
2     Monday
3     Monday
4     Monday
Name: hire_date, dtype: object

In [117]:
bikes = pd.read_csv('../data/bikes.csv', parse_dates=['starttime'])

In [118]:
st = bikes['starttime']
st.head()

0   2013-06-28 19:01:00
1   2013-06-28 22:53:00
2   2013-06-30 14:43:00
3   2013-07-01 10:05:00
4   2013-07-01 11:16:00
Name: starttime, dtype: datetime64[ns]

In [120]:
st.dt.round('h').head()
#offset alias -> a string that determines what part
# of the date time you want to round

0   2013-06-28 19:00:00
1   2013-06-28 23:00:00
2   2013-06-30 15:00:00
3   2013-07-01 10:00:00
4   2013-07-01 11:00:00
Name: starttime, dtype: datetime64[ns]

In [122]:
st.dt.round('D').head()

0   2013-06-29
1   2013-06-29
2   2013-07-01
3   2013-07-01
4   2013-07-01
Name: starttime, dtype: datetime64[ns]

In [126]:
st.dt.floor('T')

0       2013-06-28 19:01:00
1       2013-06-28 22:53:00
2       2013-06-30 14:43:00
3       2013-07-01 10:05:00
4       2013-07-01 11:16:00
5       2013-07-01 12:37:00
6       2013-07-02 17:47:00
7       2013-07-03 09:07:00
8       2013-07-03 15:21:00
9       2013-07-04 15:00:00
10      2013-07-04 17:17:00
11      2013-07-04 18:13:00
12      2013-07-05 10:02:00
13      2013-07-06 09:43:00
14      2013-07-06 12:39:00
15      2013-07-07 00:06:00
16      2013-07-08 17:06:00
17      2013-07-08 17:33:00
18      2013-07-09 13:12:00
19      2013-07-09 13:14:00
20      2013-07-09 17:39:00
21      2013-07-09 19:26:00
22      2013-07-10 09:18:00
23      2013-07-10 12:34:00
24      2013-07-10 16:35:00
25      2013-07-11 08:17:00
26      2013-07-12 01:07:00
27      2013-07-12 06:53:00
28      2013-07-12 10:01:00
29      2013-07-12 12:23:00
                ...
50059   2017-12-23 15:28:00
50060   2017-12-23 15:31:00
50061   2017-12-24 07:56:00
50062   2017-12-25 18:31:00
50063   2017-12-26 13:27:00
50064   2017-12-26 15:09:00
50065   2017-12-26 15:49:00
50066   2017-12-26 16:34:00
50067   2017-12-27 06:05:00
50068   2017-12-27 07:46:00
50069   2017-12-27 08:34:00
50070   2017-12-27 20:02:00
50071   2017-12-27 21:08:00
50072   2017-12-28 06:16:00
50073   2017-12-28 10:27:00
50074   2017-12-28 13:08:00
50075   2017-12-28 17:03:00
50076   2017-12-29 08:42:00
50077   2017-12-29 09:13:00
50078   2017-12-29 11:14:00
50079   2017-12-29 12:08:00
50080   2017-12-29 15:28:00
50081   2017-12-29 16:09:00
50082   2017-12-30 10:47:00
50083   2017-12-30 11:36:00
50084   2017-12-30 13:07:00
50085   2017-12-30 13:34:00
50086   2017-12-30 13:34:00
50087   2017-12-31 09:30:00
50088   2017-12-31 15:22:00
Name: starttime, Length: 50089, dtype: datetime64[ns]