# Notes - 04. Time Series

date - only month, day year
time - only hour, minute, second, part of second
datetime - date and time together

pandas - precision of a nano second unity

#### datetime module in Python
import datetime 

datetime data

timedelta = amount of time

In [2]:
import pandas as pd

In [4]:
pd.to_datetime('2018/12/22') #convert a string to a datetime -> Timestamp is a datetime in Pandas

Timestamp('2018-12-22 00:00:00')

In [7]:
pd.to_datetime('Jan 3rd, 2013 5:43') #international standart for time

Timestamp('2013-01-03 05:43:00')

In [11]:
pd.to_datetime(1000) #if you use a integer is gonna past the epoc, u can use unit='d' - 1000 days after the epox

Timestamp('1970-01-01 00:00:00.000001')

In [14]:
bikes = pd.read_csv('../data/bikes.csv')
bikes.head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

In [33]:
bikes['starttime'] = pd.to_datetime(bikes['starttime']) #or you can use parse_dates=['starttime', 'stoptime']
bikes.head()
bikes['stoptime'] = pd.to_datetime(bikes['stoptime']) #or you can use parse_dates=['starttime', 'stoptime']
bikes.head()

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy
4,13168,Subscriber,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,Damen Ave & Pierce Ave,41.909396,-87.677692,19.0,73.0,10.0,17.3,-9999.0,partlycloudy

In [21]:
bikes.dtypes

trip_id                       int64
usertype                     object
gender                       object
starttime            datetime64[ns]
stoptime                     object
tripduration                  int64
from_station_name            object
latitude_start              float64
longitude_start             float64
dpcapacity_start            float64
to_station_name              object
latitude_end                float64
longitude_end               float64
dpcapacity_end              float64
temperature                 float64
visibility                  float64
wind_speed                  float64
precipitation               float64
events                       object
dtype: object

In [24]:
bikes.loc[0, 'starttime'] #dexplo library

Timestamp('2013-06-28 19:01:00')

In [25]:
start = bikes['starttime']

In [29]:
start.dt.date.head() #get power of your datetime str get power of your string

0    2013-06-28
1    2013-06-28
2    2013-06-30
3    2013-07-01
4    2013-07-01
Name: starttime, dtype: object

#### Timedelta 
an amount of time
    if you subtract two date times you will have a timedelta

In [31]:
pd.to_timedelta('4 days 5 hours')

Timedelta('4 days 05:00:00')

In [37]:
bikes['tripduration_calc'] = bikes['stoptime'] - bikes['starttime']
tdc = bikes['tripduration_calc']
tdc.head()

0   00:16:00
1   00:10:00
2   00:18:00
3   00:11:00
4   00:02:00
Name: tripduration_calc, dtype: timedelta64[ns]