# 1. Tidy Data with `melt`

### Objectives

+ Explain what tidy data is
+ Spot messy data
+ Transform a simple messy dataset into a tidy data set
+ Use **`melt`** to reshape the data
+ Use parameter **`id_vars`** to keep a column vertical
+ Use parameter **`value_vars`** to melt columns into a single column

### Resources
+ Read Hadley Wickham's paper on [tidy data](http://vita.had.co.nz/papers/tidy-data.pdf)
+ Watch Hadley Wickham's talk on [tidy data](https://vimeo.com/33727555)
+ Watch Jeff Leek's video on [tidy data](https://www.youtube.com/watch?v=whDilsFoLVY)
+ Read the [reshaping pandas documentation page](http://pandas.pydata.org/pandas-docs/stable/reshaping.html)

## Datasets until now
We have analyzed several datasets, but have not done much work to change their structure or do any preprocessing before computation. We immediately began generating results and answering questions. Producing results is typically not the first step of a data analysis. The vast majority of datasets 'in the wild' will need some amount of inspection and preprocessing. And in some cases, the entire project will just be about cleaning the data so that it can be further processed by someone else. 

This notebook will use many ideas formulated by Hadley Wickham to **tidy** data before introducing a few more steps in order to prepare it for machine learning and visualization.

There's an infamous data science saying that goes something like this: "data scientists spend 80% of their time cleaning data and the other 20% complaining about cleaning the data."

# Tidy Data
Tidy data is a term coined by Hadley Wickham, the creator of many popular R packages, to describe a specific **structure** of data that makes for easy analysis. It is recommended that you read [his paper][1] to get a more complete understanding. The basics will be covered below.

Tidy data is a specific structure of data that makes analysis easier. A dataset is tidy when:
1. Each variable forms a column
2. Each observation forms a row
3. Each type of observational unit forms a table

Any dataset that does not meet this definition is considered "messy". 

### First example of messy data
Messy data can appear deceptively clean and tidy, especially if you have not been exposed to it before. Let's read in some data on the average arrival delay for different airlines flying out of different cities.

[1]: http://vita.had.co.nz/papers/tidy-data.pdf

In [15]:
import pandas as pd

In [16]:
arrival_delay = pd.read_csv('../data/tidy/average_arrival_delay.csv')
arrival_delay

   airline   ATL   DEN   DFW   IAH   LAS   LAX   MSP   ORD   PHX   SFO
0       AA   4.0   9.0   5.0  11.0   8.0   3.0   1.0   8.0   5.0   3.0
1       AS   6.0  -3.0  -5.0   1.0   2.0  -3.0   6.0   2.0  -9.0   4.0
2       B6   NaN  12.0   4.0   NaN  11.0   2.0   NaN  23.0  20.0   5.0
3       DL   0.0  -3.0  10.0   3.0  -3.0   3.0  -1.0   7.0  -4.0   0.0
4       EV   7.0  14.0  10.0   3.0   NaN   NaN  10.0   8.0 -14.0   NaN
5       F9  20.0  10.0  26.0   1.0  10.0   8.0  35.0  22.0  16.0  15.0
6       HA   NaN   NaN   NaN   NaN  13.0   1.0   NaN   NaN   2.0   8.0
7       MQ  21.0   NaN   8.0   7.0   NaN  28.0  72.0   6.0   NaN   NaN
8       NK  26.0   8.0  15.0  28.0  13.0  24.0  19.0  23.0   4.0   NaN
9       OO   9.0   7.0  23.0  12.0  -3.0   8.0   2.0  10.0   3.0   9.0
10      UA   5.0   6.0   8.0   9.0   6.0   4.0   6.0  13.0   0.0   5.0
11      US   1.0  -0.0   2.0  -3.0  -5.0   4.0  -3.0   2.0   3.0   3.0
12      VX   NaN   NaN   NaN   NaN   2.0   5.0   NaN  19.0   NaN   5.0
13      WN   5.0   5.0   NaN   NaN   7.0  11.0  -0.0   NaN   6.0   4.0

### What's wrong?
Even though the dataset returns perfectly readable and acceptable information, it is not technically a tidy data set. Generally speaking, it is easier to perform further analysis on a tidy dataset than other datasets. The notebook titled "Why Tidy Data?" covers several examples that compare messy to tidy data.

The main issue with the above dataset is that some of the column names are variable values themselves. At this point, you might be confused as to what exactly is meant by a 'variable'. A simple definition of a variable is **anything that is liable to change**.

### What are the variable names?
Only the **`airline`** column appears to be a variable name that is found directly in the DataFrame above. You must infer the others from the description of the problem. The variables are:
+ airline
+ origin airport
+ average arrival delay

### Actual Tidying
To tidy, we need to make sure the three tidy rules are followed. Let's attempt to restructure our data so that we have a three-column DataFrame with the column names from above.

* The airlines are already in a single column
* The origin airports are column names and need to be transposed into a single column
* The average arrival delay is tiled across the rows

## Melting
Pandas contains a DataFrame method named **`melt`**, that can take columns and stack them one-by-one on top of each other. It has two important parameter: 

+ **`id_vars`** - a list (or single string) of column names that you want to keep as columns.
+ **`value_vars`** - a list (or single string) of column names that you would like to reshape into one column

This 'reshaping' into one column is usually referred to as **melting**, **stacking**, or **unpivoting**. The **`id_vars`** columns will remain in the same column they currently reside, but **repeat** to align with all the newly melted values in the **`value_vars`** columns. 

Let's keep the **`airline`** column vertical and melt the origin airports:

In [23]:
airports = ['ATL', 'DEN', 'DFW', 'IAH', 'LAS', 'LAX', 'MSP', 'ORD', 'PHX', 'SFO']
ad_melted = arrival_delay.melt(id_vars='airline', value_vars=airports)
ad_melted.head(20)

   airline variable  value
0       AA      ATL    4.0
1       AS      ATL    6.0
2       B6      ATL    NaN
3       DL      ATL    0.0
4       EV      ATL    7.0
5       F9      ATL   20.0
6       HA      ATL    NaN
7       MQ      ATL   21.0
8       NK      ATL   26.0
9       OO      ATL    9.0
10      UA      ATL    5.0
11      US      ATL    1.0
12      VX      ATL    NaN
13      WN      ATL    5.0
14      AA      DEN    9.0
15      AS      DEN   -3.0
16      B6      DEN   12.0
17      DL      DEN   -3.0
18      EV      DEN   14.0
19      F9      DEN   10.0

## Renaming the columns with `var_name` and `value_name`
By default, the **`melt`** method will name the column containing the old column names as **`variable`**. The column containing the values of these columns is named **`value`**.

The **`melt`** method provides two additional parameters **`var_name`** and **`value_name`**. Set these parameters equal to column names of your choice.

### `value_vars` is optional
By default **`melt`** will melt all the columns that are not **`id_vars`**. You don't have to explicitly put them in a list.

In [25]:
ad_melted = arrival_delay.melt(id_vars='airline', var_name='origin_airport', value_name='avg_arrival_delay')
ad_melted.head(20)

   airline origin_airport  avg_arrival_delay
0       AA            ATL                4.0
1       AS            ATL                6.0
2       B6            ATL                NaN
3       DL            ATL                0.0
4       EV            ATL                7.0
5       F9            ATL               20.0
6       HA            ATL                NaN
7       MQ            ATL               21.0
8       NK            ATL               26.0
9       OO            ATL                9.0
10      UA            ATL                5.0
11      US            ATL                1.0
12      VX            ATL                NaN
13      WN            ATL                5.0
14      AA            DEN                9.0
15      AS            DEN               -3.0
16      B6            DEN               12.0
17      DL            DEN               -3.0
18      EV            DEN               14.0
19      F9            DEN               10.0

### Our first tidy dataset
By ensuring that each variable forms its own column, each observation is also in its own row. We now have tidy data.

## Key terms - reshaping and restructuring
When you think of tidy data, your brain should think about the terms **reshaping** or **restructuring**. The data is being maneuvered like a jigsaw puzzle. The actual data values are not changing (though some aspects of tidy data will change the values).

# Exercises

### Problem 1
<span  style="color:green; font-size:16px">In this problem, we will only look at the title column and the actor name columns. Restructure the dataset so that there are only three variables - the title of the movie, the actor number (1, 2, or 3), and the actor name. Sort the result by title, assign the DataFrame to a variable and output the first 20 rows.</span>

In [ ]:
# execute this cell and use this dataset
movie = pd.read_csv('../data/movie.csv')
movie.head()

### Problem 2
<span  style="color:green; font-size:16px">Using the original movie dataset (and keeping its structure), attempt to count the total appearances of each actor in the dataset regardless whether they are 1, 2, or 3. Then repeat this task with your tidy dataset.</span>

### Problem 3
<span  style="color:green; font-size:16px">Tidy the dataset in the **`tidy/employee_messy1.csv`** file. It contains the count of all employees by race and gender.</span>

### Problem 4
<span  style="color:green; font-size:16px">Tidy the dataset in the **`tidy/employee_messy2.csv`** file. It contains the count of all employees by department, race and gender.</span>

### Problem 5
<span  style="color:green; font-size:16px">Tidy the dataset in the **`tidy/employee_salary_stats.csv`** file. Save the tidy dataset to a variable and then select all the median salaries. The select all the median salaries with the original 'messy' dataset. Which one is easier to read summary statistics from?</span>